/* body {
  background: rgb(255, 255, 255);
}


#empty {
  width: 1520px;
  height: .2px;
  margin-block-end: 5rem;
  margin-block-start: 5rem;
  border: 1px solid rgb(76, 0, 139);
  background-color: darkmagenta;
} */
