.features {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: calc(var(--width) * 9.375);
  position: relative;
  max-width: calc(var(--width) * 75);
  margin-left: auto;
  margin-right: auto;
}

.features > h2, .features > p {
  text-align: center;

}

.features > p {
  margin-bottom: calc(var(--width) * 6.25);
}

.features ul {
  display: grid;
  grid-template-columns: repeat(2, calc(var(--width) * 35));
  row-gap: calc(var(--width) * 6);
  column-gap: calc(var(--width) * 6);
  margin-block-start: calc(var(--width) * 5);
  list-style: none;
}

.features ul > li.feature {
  border-radius: calc(var(--width) * 1.25);
  width: calc(var(--width) * 27.625);
  padding: calc(var(--width) * 2);
}

.features ul > li.feature h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: calc(var(--width) * 1.5);
  line-height: calc(var(--height) * 16%);
}

.features ul > li.feature > p {
  margin-inline-end: calc(var(--width) * 3.125);
}

.features ul > li.feature > h3, li.feature > p, li.feature > nav {
  padding-inline-start: calc(var(--width) * 10.75);
}

.features ul li.features > h3 {
  padding-top: calc(var(--width) * 3.0625);
  margin-bottom: calc(var(--width) * 1.25);
}

.features ul li.features p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: calc(var(--width) * 1);
  line-height: calc(var(--height) * 16%);
}

.features ul > li.feature > h3, li.feature > p, li.feature > nav {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: calc(var(--height) * 8);
  font-size: calc(var(--width) * 1);
  line-height: calc(var(--height) * 16%);
}

#search_data {
  background-color: rgba(107, 207, 192, 0.2);
  position: relative;
}

#search_data::before {
  position: absolute;
  width: calc(var(--width) * 14.5);
  height: calc(var(--width) * 13.1875);
  content: "";
  background-image: url(../slab-data-warehouse/images/image3\ 1\ \(1\).svg);
  background-size: calc(var(--height) * 8%);
  background-repeat: no-repeat;
  top: calc(var(--width) * 5);
  left: calc(var(--width) * -6.25);
}

#hours_access {
  background-color: rgba(156, 106, 226, 0.2);
  position: relative;
}

#hours_access::before {
  position: absolute;
  width: calc(var(--width) * 14.5);
  height: calc(var(--width) * 13.1875);
  content: "";
  background-image: url(../slab-data-warehouse/images/image4\ \(1\).svg);
  background-size: calc(var(--height) * 8%);
  background-repeat: no-repeat;
  top: calc(var(--width) * 5);
  left: calc(var(--width) * -6.25);
}

#print_out {
  background-color: rgba(240, 100, 184, 0.2);
  position: relative;
}

#print_out::before {
  background-image:  url(../slab-data-warehouse/images/image5\ 1.svg);
  position: absolute;
  width: calc(var(--width) * 14.5);
  height: calc(var(--width) * 13.1875);
  content: "";
  background-size: calc(var(--width) * 8%);
  background-repeat: no-repeat;
  top: calc(var(--width) * 5);
  left: calc(var(--width) * -6.25);
}

#security_code {
  background-color: rgba(45, 153, 216, 0.2);
  position: relative;
}

#security_code::before {
  background-image: url(../slab-data-warehouse/images/image6\ 1.svg);
  position: absolute;
  width: calc(var(--width) * 14.5);
  height: calc(var(--width) * 13.1875);
  content: "";
  background-size: calc(var(--height) * 8%);
  background-repeat: no-repeat;
  top: calc(var(--width) * 5);
  left: calc(var(--width) * -6.25);
}

/* li {
  background-color: var(--cell-color);
}
@media (min-width: 640px) {
  :root {
    --columns: 4;
  }
}
@media (min-width: 1024px) {
  :root {
    --columns: 6;
  }
}
*/
