:root {
  --width: 16px;
  --margin: 16px;
  --height: 10;
}

#first_section {
  background-image: url(../slab-data-warehouse/images/first_section.svg);
  background-repeat: no-repeat;
  background-size: calc(var(--height) * 6%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-position: right bottom;
  max-width: calc(var(--width) * 75);
  margin-inline-start: auto;
  margin-bottom: calc(var(--margin) * 10);
}

#first_section > h1 {
  width: calc(var(--width) * 40.625);
  height: calc(var(--width) * 11.5);
  font-weight: calc(var(--height) * 80);
  font-size: calc(var(--width) * 5.625);
  line-height: calc(var(--height) * 10%);
  color: #212353;
  padding-bottom: calc(var(--width) * 3.125);
}

#first_section p {
  width: calc(var(--width) * 20);
  height: calc(var(--width) * 7.5);
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(var(--width) * 1.125);
  line-height: calc(var(--height) * 16%);
  color: #4B5D68;
  padding-bottom: calc(var(--width) * 3.125);
}

#first_section > ul > li {
  left: calc(var(--width) * 15);
  list-style: none;
  margin-left: calc(var(--width) * -2.5);
}

#first_section > ul > li  a {
  background-color:rgb(156, 106, 226);
  border-radius: calc(var(--width) * 2);
  padding: calc(var(--width) * 1);
  color: white;
}
