header {
  position: relative;
  margin-inline-start: 8rem;
}

header div:nth-of-type(1) {
  background: rgba(128, 30, 128, 0.651);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 1.5rem;
}

header div:nth-of-type(2) {
  background: #F063B8;
  width: 20px;
  height: 35px;
  border-radius: 10px;
  position: absolute;
  top: 1rem;
  left: 2rem;
}

header ul {
  margin-left: 4rem;
}

header ul li {
  display: inline-block;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2rem;
}

header ul li:nth-of-type(1) {
  font-weight: bolder;
}

header ul li:last-of-type {
  margin-left: 18rem;
  padding: 1rem;
  font-weight: 800;
  border: 2px solid #9C69E2;
  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

a {
  text-decoration: none;
  color: black;
}
