:root {
  --width: 16px;
  --margin: 16px;
  --height: 10;
}

header {
  position: relative;
  width: calc(var(--width) * 75);
  margin-left: auto;
}

header div:nth-of-type(1) {
  background: rgba(128, 30, 128, 0.651);
  width: calc(var(--width) * 1.25);
  height: calc(var(--width) * 1.25);
  border-radius: 50%;
  position: absolute;
  top: calc(var(--width) * 1.375);
}

header div:nth-of-type(2) {
  background: #F063B8;
  width: calc(var(--width) * 1.25);
  height: calc(var(--width) * 2.1875);
  border-radius: calc(var(--width) * 0.625);
  position: absolute;
  top: calc(var(--width) * .5);
  left: calc(var(--width) * 2);
}

header ul {
  margin-left: calc(var(--width) * 6.25);
}

header ul li {
  display: inline-block;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 32px;
  font-size: 16px;
  line-height: 160%;
}

header ul li:nth-of-type(1) {
  font-weight: bolder;
}

header ul li:last-of-type {
  margin-left: 200px;
  padding: 16px;
  font-weight: 800;
  border: 2px solid #9C69E2;
  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

a {
  text-decoration: none;
  color: black;
}
