#second_section {
  background-image: url(../slab-data-warehouse/images/image2.svg);
  background-repeat: no-repeat;
  background-color: rgb(255, 217, 223);
  border-radius: 50px;
  max-width: 1200px;
  margin-left: auto;
}

#second_section > h2 {
  max-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 130%;
  padding-top: 125px;
  padding-inline-start: 550px;
  padding-right: 92px;
}

#second_section > p {
  width: 455px;
  height: 170px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  padding-inline-start: 550px;
  padding-right: 92px;
  padding-bottom: 125px;
}
