section:nth-of-type(4){
  background-color: rgb(142, 13, 228);
  width: 1578px;
  height: 709px;
}

section:nth-of-type(4) div.name{

}
section:nth-of-type(4) div.john{
  width: 645px;
  height: 330px;
  background-image: url(ellipse2.png);
  background-color: white;
  background-repeat: no-repeat;
  border-radius: 10%;
}
section:nth-of-type(4) div.jeny{
  width: 420px;
  height: 350px;
  background-image: url(ellipse1.png);
  background-color: white;
  background-repeat: no-repeat;
  border-radius: 10%;
}
