section:nth-of-type(4){
  background-color: rgb(142, 13, 228);
  width: 1160px;
  height: 650px;
  border-radius: 10%;

}
section:nth-of-type(4) h1{
  color: white;
  padding-top: 7rem;
  margin-left: 7rem;

}

section:nth-of-type(4) div.lax{
  color: white;
  grid-column: 2;

}
section:nth-of-type(4) div div.bill{
  grid-column: 1;
}

section:nth-of-type(4) div.bos{
  background-color: white;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  float: right;
  margin: 0.5rem;
}
section:nth-of-type(4) div.boz{
  background-color: white;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  float: right;
  margin: 0.5rem;
}
section:nth-of-type(4) div.bot{
  background-color: white;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  float: right;
  margin: 0.5rem;
}
section:nth-of-type(4) div.bog{
  margin: 0.5rem;
  background-color:rgb(231, 83, 207);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0.5rem;
  float: right;


}

section:nth-of-type(4) div.name p,
section:nth-of-type(4) div.name h4,
section:nth-of-type(4) div.name a{
  margin-left: 8rem;
}

section:nth-of-type(4) div.name p{
  width:300px ;
  height: 130px;
}

section:nth-of-type(4) div.name{
  display: grid;
  grid-template-columns: 700px 600px 400px;
   grid-gap: 5px;
   margin-left: 30px;

}
section:nth-of-type(4) div.john{
  width: 550px;
  height: 300px;
  background-image: url(ellipse2.png);
  background-color: white;
  background-repeat: no-repeat;
  border-radius: 10%;
  border: solid 2px plum;
  box-shadow:10px 5px 0px rgba(212, 110, 243, 0.363);
  margin-left: 5rem;


}
section:nth-of-type(4) div.jeny{
  width: 450px;
  height: 300px;
  background-image: url(ellipse1.png);
  background-color: white;
  background-repeat: no-repeat;
  border-radius: 10%;
  border: solid 2px plum;



}
section:nth-of-type(4) div.jeny p{
  opacity: 0.5;
}

section:nth-of-type(4) div.william{
width: 300px;
height: 300px;
background-image: url(ellipse3.png);
background-repeat: no-repeat;
background-color: white;
border-radius: 2rem;
border: solid 2px plum;
margin-left: -7rem;

}
section:nth-of-type(4) div.william p{
  opacity: 0.5;
}


