header:first-of-type{
  --width-set:20px;
  --height-set:20px;
  --margin-set:32px;
}

header:first-of-type {
  width:  calc(var(--width-set) * 45px);
  height: calc(var(--height-set) * 3px);
  margin-top: var(--margin-set);
  margin-bottom: var(--margin-set);
}
header div:first-of-type {
  background-color: rgb(159, 110, 236);
  width: var(--width-set);
  height: var(--height-set);
  border-radius: 50%;


}
header div:last-of-type {
  background-color: rgb(245, 125, 199);
  width: var(--width-set);
  height: calc(var(--height-set) * 2);
  border-radius: 40%;
  margin: var(--margin-set);
  margin-top: calc(var(--margin-set) * -1);
  margin-left: var(--margin-set)
}
.link > li{
  text-align: center;
  margin-left: calc(var(--margin-set) * 4.5);
  display: inline;
  }
  ul.link{
    margin-right: calc(var(--margin-set) / 2);
    position: 90% 10%;
    margin-top: calc(var(--margin-set) / 2 * -3);
  }

  body > header a{
    text-align: center;
    text-decoration: none;
    color: black;
  }

  header > button{
    background-color: white;
    float: right;
    margin-top: calc(var(--margin-set) / 2 * -3);
    margin-right: calc(var(--margin-set) / -2);
    width: calc(var(--width-set) * 7.5);
    height: calc(var(--height-set) * 3);
    border-radius: 40%;

  }

