footer{
  height: 800px;
  margin-top: 5rem;
  border-top: 1px solid gray;
}
footer  header button[onclick*="learn-more"]{
  background-color: rgb(245, 125, 199);
  display: block;
  margin-left: 2rem;

}
footer nav ul{
  grid-template-columns: 335px 116px 166px 178px;
  display: grid;
}

 footer ol {
   padding: 0;
 }

 footer li {
  list-style: none;

}
footer li a {
  text-decoration: none;
  color: black;
 }

 footer header button {
  float: right;
  margin: 2rem;
  border-radius: 20%;

}
footer img[src*="rec.png"]{
  float: right;
  margin-top: -4rem;
}

footer ul li a[href*="datawarehouse"][href*="about"][href*="help"][href*="media"]{
  font-weight: 700;

}




















footer nav ul li a[href*="datawarehouse"]{
 margin-top: -1.4rem;
 margin-left: 1rem;








}









footer nav ul li:nth-child(4) ul {
  margin-left: -2.5rem;
  width: 30px;
  height: 100px;
}

footer p:nth-child(1) {

}

footer p:last-of-type{
  width: 360px;
  height: 50px;
}


