footer{
  height:761px;
  width: 1000px;
  border-top: 1px solid gray;
  margin-top: 150px;

}
footer nav ul{
  grid-template-columns: 330px 116px 166px 178px;
  display: grid;
}
 footer ol {
   padding: 0;
 }

 footer li {
  list-style: none;

}
footer li a {
  text-decoration: none;
  color: black;
 }
 footer button{
   border-radius: 45%;
   width: 170px;
   height: 50px;
   margin-top: -5rem;
 }
 footer header button[onclick*="learn-more"]{
  background-color: rgb(245, 125, 199);
  margin-right: 224px;

}

footer nav {
  margin-top: 80px;
}

footer nav ul li a[href*="datawarehouse"],
footer nav ul li a[href*="about"],
footer nav ul li a[href*="help"],
footer nav ul li a[href*="media"]{
  font-weight: 700;

}


footer nav ul li ol{
  padding-top: 32px;
}
footer nav ul li ol a[href*="Warehouse-Society"]{
  font-weight: 700;
  display: inline-block;
  padding-bottom: 32px;




}
footer nav ul li a[href*="datawarehouse"] {
  margin-top: -1.4rem;
  margin-left: 4rem;
}

footer nav ul li ol:nth-of-type(1){
 width: 200px;
 height: 232px;

}
footer .icons{
  width: 48px;
height: 48px;
border-radius: 50%;
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: contain;
display: inline-block;
float: right;
margin-right: 16px;

}
footer .icons[href*="facebook"]{
 background-image: url(facebook.png);

}


.icons[href*="twitter"]{
 background-image: url(twitter.png);

}

.icons[href*="itterary"]{
 background-image: url(icone.png);
}

footer img[src*="rec.png"]{
  float: right;
  margin-bottom: -100px;
  box-shadow: plum;
}
footer div:first-of-type{
  background-color: rgb(159, 110, 236);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
footer div:last-of-type{
  background-color: rgb(245, 125, 199);
  width: 20px;
  height: 35px;
  border-radius: 40%;
  margin: 2rem;
  margin-top: -2rem;
  margin-left: 1.5rem
}
footer div{
 margin-top: -16px;
}
footer p:last-of-type{
  width: 360px;
  height: 50px;
}


footer nav ul li:nth-child(4) ul {
  margin-left: -2.5rem;
  width: 30px;
  height: 100px;
}

footer p:nth-child(1) {

}

footer p:last-of-type{
  width: 360px;
  height: 50px;
}


