section:nth-of-type(3){
  width: 1137.28px;
  height: 1026px;

}

.features {
  padding-block-start: 49px;
  padding-block-end: 33px;
  padding-inline-start: 172px;
  padding-inline-end: 120px;
  margin-inline-start: 102px;
  list-style: none;
  width: 442px;
  height: 358px;
  display: inline-block;
  grid-template-columns: 442px 442px;
  display: grid;
  grid-gap: 4rem;



}

.feature {

}

.features p{
  line-height: 1.7;
  font-size: 16;
  margin-left: 10rem;
}

.features li a{
  text-decoration: none;
  margin-block-start: 20px;
  line-height: 26px;
  color: #212353;
  font-weight: 700;
  margin-left: 10rem;

}

.features h6{
  font-size: 24px;
  line-height: 50px;
  font-weight: 400;
  margin-left: 10rem;
}


.features::before{
  content: "";
  background-image: url('image4.png');
  position: absolute;
  left: 102px;
  display: block;
  transform: rotateY(-50%);
  top : 50px;
}
#feature_search_data {
  background-color: rgb(104, 201, 186, 0.1);
  border-radius: 20%;
  background-image: url(image3.png);
  background-repeat: no-repeat;


}


#feature_learn_hours {
  background-color: rgb(156, 105, 226, 0.1);
  border-radius: 20%;

  background-repeat: no-repeat;

}

#feature_print_out{
  background-color: rgba(221, 153, 215, 0.1);
  border-radius: 20%;
  background-image: url(image5.png);
  background-repeat: no-repeat;

}

#feature_security_code{
  background-color: rgba(141, 164, 224, 0.1);
  border-radius: 20%;
  background-image: url(image6.png);
  background-repeat: no-repeat;

}
