section:nth-of-type(3) .features{
  --margin-set-of-features: 320px;
  --width-set-for-features: 1138px;
  --height-set-for-features:1026px;
  --top-for-features: 100px;
  --left-for-features: 10px;
  --paddings-set-for-features: 33px;
  --margin-left : 160px
}




section:nth-of-type(3) header{
  text-align: center;
  margin-left: 320px;
}
section:nth-of-type(3){
  width: 1138px;
  height: 1026px;
  margin-left: -150px;

}

.features {
  padding-block-start: calc(var(--paddings-set-for-features) + 16px);
  padding-block-end: var(--paddings-set-for-features);
  padding-inline-start: calc(var(--paddings-set-for-features) * 5 + 7px);
  padding-inline-end: calc(var(--paddings-set-for-features) * 3 + 21);
  margin-inline-start: calc(var(--margin-set-of-features) / 3 - 4.6px);
  list-style: none;
  width: 442px;
  height: 358px;
  display: inline-block;
  grid-template-columns: 442px 442px;
  display: grid;
  grid-gap: 80px;
  position: relative;
  grid-column-gap: 160px;



}

.features p{
  line-height: 1.7;
  font-size: 16;
  margin-left: var(--margin-left);
}

.features li a{
  text-decoration: none;
  margin-block-start: 20px;
  line-height: 26px;
  color: #212353;
  font-weight: 700;
  margin-left: var(--margin-left);

}

.features h6{
  font-size: 24px;
  line-height: 50px;
  font-weight: 400;
  margin-left: var(--margin-left);
}


.features::before{
  content: "";
  position: absolute;
  left: -102px;
  display: block;
  top : 50px;
}



#feature_learn_hours {
  background-color: rgb(156, 105, 226, 0.1);
  border-radius: 20%;

}

#feature_learn_hours::before{
  content: '';
  background-image: url(hour_access_image.png);
  width: 232px;
  height: 211px;
  position: absolute;
  left: 580px;
  top: 100px;
  margin-left: 60px;

}

#feature_search_data {
  background-color: rgb(104, 201, 186, 0.1);
  border-radius: 20%;

}
#feature_search_data::before{
  content: '';
  background-image: url(search_data_image.png);
  background-repeat: no-repeat;
  width: 232px;
  height: 211px;
  position: absolute;
  left: -10px;
  top: 100px;
  margin-left: 60px;
}

#feature_security_code{
  background-color: rgba(141, 164, 224, 0.1);
  border-radius: 20%;


}
#feature_security_code::before{
  content: '';
   background-image: url(security_code_image.png);
    background-repeat: no-repeat;
    width: 232px;
    height: 211px;
    position: absolute;
    left: 580px;
    top: 500px;
    margin-left: 60px;

}
#feature_print_out{
  background-color: rgba(221, 153, 215, 0.1);
  border-radius: 20%;


}


#feature_print_out::before{
  content: '';
  background-image: url(print_out_image.png);
  background-repeat: no-repeat;
  width: 232px;
  height: 211px;
  position: absolute;
  left: 20px;
  top: 500px;
  margin-left: 30px;
}
/*





