section:nth-of-type(3){
  text-align: center;
}

section:nth-of-type(3) p {
  width: 450px;
  height: 58px;
  margin-left: 20rem;

}
section:nth-of-type(3) h3{
  width: 405px;
  height: 52px;
  margin-left: 20rem;
}

section:nth-of-type(3) div.feature{
 grid-template-columns: 194px 197px;
 grid-template-rows:264.64px 225.14px ;
 grid-column-gap: 13rem;
 display: grid;
 font-size: 0.8rem

}
section:nth-of-type(3) div.feature p{
  float: right;
  margin-inline-start: 2rem ;
  width: 220px;
  height: 80px;


}

section:nth-of-type(3) div div.search {
  background-color: rgba(139, 248, 234, 0.644) ;
  width: 265.5px;
  height: 194px;
  border-radius: 10%;
  background-image: url(image3.png);
  background-repeat: no-repeat;
  overflow: visible;


}

section:nth-of-type(3) div div.search1 {

}

section:nth-of-type(3) div div.search p{


}
section:nth-of-type(3) div div.hours{
  background-color: gainsboro;
  width: 272.14px;
  height: 197.28px;
  border-radius: 10%;
  background-image: url(image4.png);
  background-repeat: no-repeat;
  grid-column: 2;
  grid-row: 1;

}
section:nth-of-type(3) div div.hours p{


}

section:nth-of-type(3) div div.print{
  background-color:  rgba(233, 188, 223, 0.678);
  width: 275.14px;
  height: 179px ;
  border-radius: 10%;
  background-image: url(image5.png);
  background-repeat: no-repeat;
  background-position: -90% 30%;



}

section:nth-of-type(3) div div.print p {


}

section:nth-of-type(3) div div.security{
  background-color:  rgba(139, 217, 236, 0.39);
  width: 269.64px;
  height: 182px ;
  border-radius: 10%;
  background-image: url(image6.png);
  background-repeat: no-repeat;
  background-position: -100% 50%;
}

section:nth-of-type(3) div div.security p{


}
