html{
  width: 1400px;
  height: 4500px;
  border: 2px solid grey;
  background-image:  linear-gradient(0deg, rgba(252, 252, 250, 0.712) 0%,
  rgba(248, 250, 252, 0.055) 50%,
  rgba(210, 223, 243, 0.55) 90%,
  rgba(204, 204, 231, 0.507) 90%,
  rgba(204, 204, 231, 0.507) 100%);

}
