.profile {
  position: absolute;
  left: 1226px;
  top: 26px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}


aside p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 0.5;
}
#link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #EC7E5F;

}

aside h4 {
  border-bottom: 1px solid grey;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}

#unique ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
#unique ul > li {
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color:gray;
  text-transform: uppercase;

}
#unique ul li:nth-of-type(1),
#unique ul li:nth-of-type(3){
  margin-inline-start: 2rem;
}


#last_div ul {
  width: 300px;
  height: 84px;
  padding: 0;
}
#last_div ul li {
  list-style: none;
  text-transform: uppercase;
  color: gray;
  line-height: 2rem;
  font-weight: bold;
}
aside div:nth-of-type(2) {
  padding-block-start: 50px;
}
