.catalog {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #FC7756;
  text-decoration: none;
  text-transform: uppercase;
  padding-block-start: 3rem;
}
article nav ul {
  display: grid;
  grid-template-columns: repeat( 6, 145px);
  column-gap: 15px;
  row-gap: 30px;
  border-bottom: gray 1px solid;
  padding: 0;
}
.more_headers {
  list-style: none;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.more_headers a {
  text-decoration: none;
  color: grey;
}
#priority {
  color: #ffff;
}
