.first_paragraph {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF;
  width: 753px;
  height: 61px;
}
.second_paragraph {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: gray;
  width: 755px;
  height: 38px;
}
