html {
    background-color: #333;
}

body {
    margin-block-start: 30px;
    margin-block-end: 20px;
    margin-inline-start: 45px;
    margin-inline-end: 45px;
    max-width: 945px;
}

:root {
  --normal-values: normal;
}
