 body > header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  margin-block-start: -4rem;
}
body > header ul li {
margin-inline-end: 1rem;
text-transform: uppercase;
font-weight: bold;
font-size: 1.25rem;
word-spacing: 0.05rem;
color: #FFFF;
text-decoration: none;
}



