 body > header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin-block-start: -2rem;
}
body > header nav ul li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
  color: #FFFF;
  text-decoration: none;
  list-style: none;
  display: inline;
  word-spacing: 0.5rem;
  padding-inline-start: 1.5rem;

}




