
#header_object {
 width: 293px;
}

#header_origin +
#purpose {
  width: 242px;
}
#seen,
#confidence {
  width: 272px;
}

.first_thead {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color:gray;
  text-align: left;
  border-bottom: 1px solid grey;
  }
.span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 125%;
  text-transform: uppercase;
  margin-block-start: 1.5rem;
  margin-inline-start: 1rem;
}
.td_1 {
  display: flex;
}

