
html {
  background-color: #E5E5E5;
}
body {
    background:linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    width: 2000px;
    height: 4500px;
    font-family: Arial, Helvetica, sans-serif;

}


