.learn-more a {
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  background-color: #9C69E2;
  color: #fff;
  width: 170px;
  height: 60px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 30px;
  border: 1px #000 solid;
  font-family: Avenir;
}

body a {
  text-decoration: none;
}
