section:nth-of-type(3) {
    display: grid;
  }

section:nth-of-type(3) article {
  margin-top: 320px;

}

section:nth-of-type(3) article:nth-of-type(1) {
  width: 442px;
  height: 358px;
  background-color: lightblue;
  grid-column: 1;
  grid-row: 1;
  margin-inline-start: 192px;
  border-radius: 7%;
  background-image: url("../images/image3\ 1.svg");
  background-repeat: no-repeat;
  background-position: -50%;
  clip-path: border-box;
}

section:nth-of-type(3) article:nth-of-type(2) {
  width: 442px;
  height: 358px;
  background-color: lightgray;
  grid-column: 2;
  grid-row: 1;
  border-radius: 7%;
  background-image: url("../images/image4.svg");
  background-repeat: no-repeat;
  background-position: -50%;
}

section:nth-of-type(3) article:nth-of-type(3) {
  width: 442px;
  height: 358px;
  background-color: wheat;
  grid-column: 1;
  grid-row: 2;
  margin-inline-start: 192px;
  border-radius: 7%;
  background-image: url("../images/image5\ 1.svg");
  background-repeat: no-repeat;
  background-position: -55%;
  ba
}

section:nth-of-type(3) article:nth-of-type(4) {
  width: 442px;
  height: 358px;
  background-color: lightblue;
  grid-column: 2;
  grid-row: 2;
  border-radius: 7%;
  background-image: url("../images/image6\ 1.svg");
  background-repeat: no-repeat;
  background-position: -45%;
}

section:nth-of-type(3) p {
  width: 200px;
  height: 160px;
  padding-inline-start: 172px;
  padding-block-start: 16px;
}

section:nth-of-type(3) h3 {
  /* width: 220px;
  height: 160px; */
  padding-inline-start: 172px;
  padding-block-start: 49px;
}

section:nth-of-type(3) a {
  text-decoration: none;
  color: black;
  width: 87px;
  height: 26px;
}
