.button {
  --button-height : 3.75rem;
  --button-font-size:1rem;
  --button-vertical-padding : calc((var(--button-height) - var(--button-font-size)) /2 );

  border-radius: 9999px;
  background-color: brown;


  font-size: 1rem;
  line-height: 1;
  border-radius: 9999px;
  color: #212353;
  padding-block-start: var(--button-vertical-padding);

};
