.section-1 {
  margin-inline-start: auto;
  margin-block-start: 20px;
  margin-inline-end: auto;
  margin-block-end: 50px;
  max-width: 1343px;
  max-height: 754px;
  background-image: url("../images/image1\ 1.png"),
                    url(../images/logo\ 2.png),
                    url(../images/logo\ 1.png);
  background-position:  575px 248px,
                        85px 45px,
                        125px 25px;
  background-repeat: no-repeat;
  background-size:  700px 390px,
                    25px 30px,
                    25px 50px;
  flex-wrap: wrap;
}

.section-1 header {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-block-start: 5rem;
}

.section-1 nav ul{
  margin-inline-start: 200px;
  margin-block-start: -26px;
  margin-inline-end: 0rem;
  text-align: start;
  list-style: none;
}

.section-1 header> nav li {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-block-start: -10rem;
  margin-inline-end: 2rem;
}

.section-1 nav li a {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  text-decoration: none;
}

.section-1 .request_demo {
  position: absolute;
  width: 200px;
  height: 60px;
  background-color: #FFFFFF;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  margin-inline-start: 65rem;
  margin-block-start: -3rem;
  border: 0rem;
}

.section-1 .learn_more {
  width: 170px;
  height: 60px;
  background-color: #9C69E2;
  color: #ffffff;
  border-radius: 50px;
  margin-block-start: 4rem;
  margin-inline-end: 279px;
  border: 0rem;
}

.section-1 button::after {
  content: '→';
  margin-left: 1rem;
}

.section-1 div {
  padding-inline-end: 50rem;
  margin-block-start: 60px;
}

.section-1 h1 {
  font-family: black han sans;
  font-size: 80px;
  color: #212353;
  line-height: 110%;
}

.section-1 div p {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}


