body {
  background-color: rgba(220, 220, 248, 0.2);
}

section:first-of-type p {
  font-family: serif;
  font-size: 19px;
  width: 350px;
  padding-block-end: 2rem;
}

section:nth-of-type(2) p {
  padding-inline-start: 400px;
}
