body {
  background-color: rgba(220, 220, 248, 0.2);

}

main {
  max-width: 1200px;
  margin: auto;
}

.data-storage p{
  font-size: 18px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 25px;
  padding-inline-end: 730px;
  padding-block-end: 66px;
}

.data-storage-bank p {
  margin: 0;
  font-family: 'Avenir',Arial, Helvetica, sans-serif;
  padding-inline-start: 300px;
  font-weight: 500;
  line-height: 28px;
  font-size: 18px;
  padding-inline-start: 495px;
}

.features > p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding-block-end: 2rem;
}
