body {
  background-color: rgba(220, 220, 248, 0.2);
  width: 100vw;
  height: 100vh;
}

.data-storage p {
  font-family: serif;
  font-size: 19px;
  width: 350px;
  padding: 0;
  padding-block-end: 2rem;
  line-height: 30px;
}

.data-storage-bank p {
  width: 40vw;
  height: 15vh;
  padding-inline-start: 300px;
  word-wrap: break-word;
  line-height: 1.7rem;
  font-size: 1.5rem;
}

.features > p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding-block-end: 2rem;
}
