html{
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

body {
  box-shadow: ;
  background-color:  #E5E5E5;
} 