.container_features {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  row-gap: 50px;
  column-gap: 145px;
}

.container_features {
  margin: 0;
}

.container_features li {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: left;
  border-radius: 10%;
  background-size: 40%;
  padding-inline-start: 172px;
  position: relative;
}


.container_features {
  margin: 0;
  padding: 0;
}


.container_features #search_data {
  /* background-image: url("../images/search-data.svg"); */
  background-color: rgba(104, 201, 186, 0.1);
}


.container_features #search_data::before {
  content: "";
  background-image: url("../images/search-data.svg");
  position: absolute;
  left: -110px;
  top: 50%;
  transform: translateY(-50%);
  width: 241px;
  height: 185px;
}

  .container_features #print_out {
  background-color: rgba(240, 99, 184, 0.1);
}

.container_features #print_out::before {
  content: "";
  background-image: url("../images/print-out.svg");
  position: absolute;
  left: -110px;
  top: 50%;
  transform: translateY(-50%);
  width: 241px;
  height: 185px;
}

  .container_features #hour_access {
  background-color: rgba(156, 105, 226, 0.1);
}
.container_features #hour_access::before {
  content: "";
  background-image: url("../images/hours-access.svg");
  position: absolute;
  left: -110px;
  top: 50%;
  transform: translateY(-50%);
  width: 241px;
  height: 185px;
}

  .container_features #security_code {
  background-color: rgba(45, 156, 219, 0.1);
}
.container_features #security_code::before {
  content: "";
  background-image: url("../images/security-code.svg");
  position: absolute;
  left: -110px;
  top: 50%;
  transform: translateY(-50%);
  width: 241px;
  height: 185px;
}

#testimonial-container {
  display: grid;
  grid-template-columns: repeat(3, 540px);
  column-gap: 20px;
  height: 330px;
  margin: 0;
}

#testimonial-container > div {
  padding-inline-start: calc(var(--padding) / 2);
  padding-inline-end: calc(var(--padding) / 2);
  padding-block-start: calc(var(--padding) / 2);
  padding-block-end: calc(var(--padding) / 2);
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
}

.testimonials #testimonial-container img{
  float: left;
  width: 90px;
  height: 90px;
  margin-block-start: -50px;
  margin-inline-start: -30px;
}


.testimonials #testimonial-container .john_fang img {
  margin-inline-start: 0;
}

.testimonials #testimonial-container .john_fang p:nth-of-type(2) {
  margin-inline-start: 120px;
  width: 345px;
  height: 130px;
}

.testimonials #testimonial-container .john_fang p {
  margin-inline-start: 120px;
}

.testimonials #testimonial-container p {
  font-size: 18px;
  margin: 0;
  line-height: 30px;
}

#testimonial-container .jeny_doe {
  width: 250px;
}

#testimonial-container .jeny_doe p {
  margin-inline-start: 100px;
}

#testimonial-container .jeny_doe p:nth-of-type(2) {
  margin-inline-start: 100px;
  width: 170px;
}

#testimonial-container .william p {
  margin-inline-start: 80px;
}

#testimonial-container .william p:nth-of-type(2) {
  width: 170px;
  margin-inline-start: 80px;
}

#testimonial-container .william {
  margin-inline-start: -11rem;
  width: 250px;
  overflow: hidden;
}

