.section-3{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 115px;

}
.section-3 h1{
   text-align: center;
   font-size: 40px;
   margin-bottom: 51px;
}
 .feature-advantage {
   text-align: center;
   color: rgb(75,93,184,100%);
   font-size: 18px;
  vertical-align:top;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 99px;
 line-height: 40px;
 }

.feature-content {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   column-gap: 150px;
   row-gap: 50px;

 }

 .feature{
  position: relative;
  padding-block-start: 49px;
  padding-block-end: 33px;
  padding-inline-end: 50px;
  list-style: none;
  margin: 0;
  border-radius: 30px;
  padding-inline-start: 102px;
  font-size: 16px;
  width: 300px;
  height: 200px;
 }

 .feature h2{
   font-size: 24px;
   font-weight: 400;
   color: #212353;
   font-size: 24px;
   margin-inline-start: 20px;

 }
 .feature p:nth-of-type(1){
   color: #485068;
   margin: 0;
   margin-inline-start: 20px;
  line-height: 20px;
  margin-bottom: 20px;

 }
 .more-link{
  background-image: url(../image/Group\ 56.png);
  background-repeat: no-repeat;
  background-position: 45%;
  margin-bottom: 33px;
 }
  p.more-link a{
   margin-inline-start: 20px;
   line-height: 26px;
   text-decoration: none;
   color: #212353;

  font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #212353;
    letter-spacing: 0.005em;
 }

 .feature::before {
   content: " ";
  width: 245px;
  height: 211px;
  position: absolute;
  left: -147px;
  top:60%;
  transform: translateY(-50%);
  background-repeat: no-repeat;

 }

 #feature-security {
  background-color:rgb(45, 156,219,0.1);
}

#feature-print {
  background-color:rgb(240 ,99, 184, 0.1);
}

#feature-access {
  background-color:rgb(156, 105, 226,0.1);
}

#feature-search {
  background-color:rgb(104 ,201 ,186, 0.1);
}

#feature-search::before {
  background-image: url(../image/feature_search_data.png);
}

#feature-access::before {
  background-image:  url(../image/feature_24_hours.png);
}

#feature-print::before {
  background-image: url(../image/print_out.png);
}

#feature-security::before {
  background-image: url(../image/security_code.png);
}
