 .feature-content {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   column-gap: 50px;
   row-gap: 50px;
 }

 .feature{
  position: relative;
  padding-block-start: 49px;
  padding-block-end: 33px;
  padding-inline-end: 50px;
  list-style: none;
  margin: 0;
  border-radius: 30px;
  padding-inline-start: 102px;
  font-size: 16px;
  width: 300px;
  height: 200px;
 }

 .feature h2{
   font-size: 24px;
   font-weight: 400;
   color: #212353;
   font-size: 24px;
   margin-inline-start: 30px;
 }
 .feature p:nth-of-type(1){
   color: #485068;
   margin: 0;
   margin-inline-start: 20px;
  line-height: 20px;


 }
  p.more-link a{
   margin-inline-start: 20px;
   line-height: 26px;
   text-decoration: none;
   color: #212353;

 }

 .feature::before {
   content: " ";
  width: 245px;
  height: 211px;
  position: absolute;
  left: -102px;
  top:50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
 }

 #feature-security {
  background-color:rgb(45, 156,219,0.1);
}

#feature-print {
  background-color:rgb(240 ,99, 184, 0.1);
}

#feature-access {
  background-color:rgb(156, 105, 226,0.1);
}

#feature-search {
  background-color:rgb(104 ,201 ,186, 0.1);
}

#feature-search::before {
  background-image: url(../image/feature_search_data.png);
}

#feature-access::before {
  background-image:  url(../image/image4.png);
}

#feature-print::before {
  background-image: url(../image/image5\ 1.png);
}

#feature-security::before {
  background-image: url(../image/image6\ 1.png);
}
