:root {
  --width: 1000px;
  --height: 468px;
  --margin-inline-start: 300px;
  --padding-inline-start: 50px;
  --padding-block-start: var(--padding-inline-start);
}
section:nth-of-type(1) {
  width: var(--width);
  margin-inline-start: calc(var(--margin-inline-start) / 2 * (-1));
}

section:nth-of-type(1) img {
  float: right;
  background-repeat: no-repeat;
  width: calc(var(--width) - 80px);
  height: var(--height);
  margin-inline-start: var(--margin-inline-start);
  padding-inline-start: calc(var(--padding-inline-start) * (2));
  padding-block-start: calc(var(--padding-block-start) * (-1));
  transform: translate(50%, -50%);
}
 h1 {
  width: calc(var(--width) / 2);
  height: calc(var(--height) / 4);
  margin-inline-start: calc(var(--margin-inline-start) + 50px);
  font-family: Han Sans;
  font-style: normal;
  font-weight: 800;
  color: #212353;
  font-size: 90px;
  line-height: 110%;
  }

section:nth-of-type(1) p {
  width: calc(var(--width) / 3);
  margin-inline-start: calc(var(--margin-inline-start) + 50px);
  font-family: Avenir;
  font-style: normal;
  font-weight: 300;
  color: #212353;
  font-size: 18px;
  line-height: 160%;

  }

section:nth-of-type(1) nav {
  margin-block-start: calc(var(--marging-block-start));
  width: calc(var(--width) / 6);

  color: #212353;

  }
nav > ul li {
  list-style: none;
  display: inline-block;
  }
