:root {
  --width: 1000px;
  --height: 468px;
  --margin-inline-start: 300px;
  --padding-inline-start: 50px;
  --padding-block-start: var(--padding-inline-start);
}
section:nth-of-type(1) {
  width: var(--width);
  margin-inline-start: calc(var(--margin-inline-start) / 2 * (-1));
}

section:nth-of-type(1) img {
  float: right;
  background-repeat: no-repeat;
  width: var(--width);
  height: var(--height);
  margin-block-start: -270px;
  padding-inline-start: 15rem;
  transform: translateX(50%);

}
 h1 {
  width: calc(var(--width) / 2);
  height: calc(var(--height) / 4);
  padding-inline-start: calc(var(--margin-inline-start) + 50px);
  padding-block-start: 200px;
  padding-block-end: 50px;
  font-family: Han Sans;
  font-style: normal;
  font-weight: 800;
  color: #212353;
  font-size: 90px;
  line-height: 110%;
  }

.paragraph {
  width: calc(var(--width) / 3);
  padding-inline-start: calc(var(--padding-inline-start) * 7);
  padding-block-start: 12rem;
  margin-block-start: -9rem;
  font-family: Avenir;
  font-style: normal;
  font-weight: 300;
  color: #212353;
  font-size: 18px;
  line-height: 160%;
}

section:nth-of-type(1) li {
  list-style: none;
}
section:nth-of-type(1) div ul {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  column-gap: 40px;
  margin: 0;
  position: absolute;
  width: 53px;
  height: 30px;
  left: 310px;
  top: 65px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
}
button:nth-of-type(1) {
  position: absolute;
  width: 210px;
  height: 60px;
  left: 1179px;
  top: 67px;
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-style: none;
}
button:nth-of-type(1)::after {
  content: "→";
  padding-inline-start: 20px;
  color: rgb(128, 0, 128, 0.5);
  font-size: 20px;
}
button:nth-of-type(2) {
  position: absolute;
  width: 170px;
  height: 60px;
  left: 220px;
  top: 744px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;
  border-radius: 50px;
  background-color: #9C69E2;
  color: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-style: none;
}
