footer {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  column-gap: 30px;
  row-gap: 15px;
  width: 1600px;
  height: 761px;
  border-top: 1px solid;
  margin-inline-start: 32px;
  margin-inline-end: auto;
  background-image: url(../images/Group\ 64.png),
                    url(../images/Logo.jpg);
  background-repeat: no-repeat;
  background-position: 64% 85%, 0% 35%;
  background-size: 60px 60px, 60px 40px;
}
footer header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 1100px;
  margin-block-start: 2rem;
}
footer header h4 {
  font-size: 40px;
  color: #212353;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

footer header > #button ul {
  position: relative;
  display: inline-flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

footer header > #button li {
  margin-inline-end: 4rem;
}
footer header > #button .learn {
  Width: 100px;
  padding: 1rem;
  color: #ffffff;
  background-color: #F063B8;
  border-radius: 50px;
  text-align: center;
}
footer header > #button .demo::after {
  content: '→';
  margin-inline-start: 1rem;
}

footer header > #button .demo {
  width: 150px;
  padding: 1rem;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}


footer div:nth-of-type(1) {
  grid-column: 1 / 2 ;
  margin-block-start: 0rem;
}
footer div:nth-of-type(1) p:nth-of-type(1) {
  margin-block-start: 4rem;
}

footer div:nth-of-type(1) h5{
   margin-inline-start: 5rem;
}
footer div:nth-of-type(2) {
   grid-column: 2 / 3;
}

footer div:nth-of-type(3) {
  grid-column: 3 / 4;
}

footer div:nth-of-type(4) {
  grid-column: 4 / 5;
  margin-block-start: 1.5rem;
  background-image: url(../images/SM.png);
  background-repeat: no-repeat;
  background-size: 80% 18%;
  background-position: 0% 10%;
}

footer div:nth-of-type(5) {
  grid-column: 1 / 3;

}
