footer {
  position: absolute;
  width: 1600px;
  height: 761px;
  left: 0px;
  top: 3648px;

}
.testimonial {
  position: absolute;
  width: 1578px;
  height: 709px;
  left: 242px;
  top: 2789px;

}
