footer {
  margin-inline-start: 240px;
  margin-block-start: 252px;
}

footer h3 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

}

.week_free {
  margin-block-start: 20px;
  font-size: 18px;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer_main_link ul{
  position: relative;
  display: flex;
  flex-direction: row;
  margin-inline-start: 947px;
}

.footer_main_link li {
  list-style: none;
}

.footer_main_link a {
  text-decoration: none;
  color: black;

}

.footer_main_link li:nth-of-type(2) {
  max-width: 210px;
  max-height: 60px;
  margin-inline-start: 80px;
  border: 1px solid black;
  background-color: white;
  border-radius: 50px;
  padding-inline-start: 48px;
  padding-inline-end: 48px;
  padding-block-start: 16px;
  padding-block-end: 16px;
}

.footer_main_link li:nth-of-type(1) {
  max-width: 170px;
  max-height: 60px;
  background-color: deeppink;
  border-radius: 50px;
  padding-inline-start: 32px;
  padding-inline-end: 32px;
  padding-block-start: 16px;
  padding-block-end: 16px;
}

