.section_1 h1{
  color: darkblue;
  font-size: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-inline-start: 240px;
  margin-block-start: 240px;
  padding-inline-end: 715px;
}


.section_3 h2 {
  width: 405px;
  height: 52px;
  font-family: Helvetica;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  margin-left: 596px;
  margin-top: 145px;
}
