:root {
  --padding-unit: 2rem;
}

/* header nav ul:first-of-type {
  position: relative;
}

body > header nav > ul:first-of-type li:first-of-type {
  padding: 0;
  position: absolute;
  background: #9C69E2;
  background-size: 40%;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  top: 3rem;
  left: -2rem;
}

body > header nav > ul:first-of-type li:nth-of-type(2) {
  padding: 0;
  position: absolute;
  background: #F063B8;
  background-size: 40%;
  border-radius: 20px;
  width: 20px;
  height: 45px;
  top: 1.5rem;
  left: -1rem;
} */

body header {
  margin: 0;
}

header nav > ul {
  display: flex;
}

header {
  display: flex;
  justify-content: space-around;
}

 header nav > ul li {
  padding: var(--padding-unit);
}

header a {
  font-family: serif;
  font-size: calc(var(--padding-unit) / 2);
}

header nav li:first-of-type a {
  color: #000;
}

header nav a {
  color: rgba(0, 0, 0, 0.6);
}


header div a {
  padding-inline-start: var(--padding-unit);
  padding-inline-end: var(--padding-unit);
  padding-block-start: calc(var(--padding-unit) / 2);
  padding-block-end: calc(var(--padding-unit) / 2);
  background-color: #fff;
  border-radius: 30px;
  color: #000;
}

header div {
  padding-block-start: 3rem;
}
