.data-storage h1 {
  font-family: sans-serif;
  font-size: 80px;
  width: 500px;
  height: 300px;
  line-height: 85px;
  color: #212353;
  margin-top: 240px;
  margin: 0;
  margin-block-start: -90px;
}

.data-storage-bank h2 {
  font-family: 'Helvetica', Arial, sans-serif;
  width: 475px;
  height: 100px;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  line-height: 130%;
  padding-inline-start: 400px;
  padding-block-end: 40px;
}

h2,
h3 {
  color: #212353;
}

.features h2{
  text-align: center;
  font-size: 40px;
}

.testimonials h2 {
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}

.container_features h3 {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding-block-end: 20px;
  padding-inline-end: 70px;
  padding-block-start: 49px;
}

#testimonial-container h3 {
  margin: 0;
  font-family: 'Avenir',Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 30px;
}

.testimonials #testimonial-container .john_fang h3 {
  margin-inline-start: 120px;
}

#testimonial-container .jeny_doe h3 {
  margin-inline-start: 100px;
}

#testimonial-container .william h3 {
  margin-inline-start: 100px;
}

