.data-storage {
    background-image: url(../css/1pc.png);
    background-repeat: no-repeat;
    background-position: left 807.06px top 366px;
    background-size: 983.94px 440px;
    display: grid;
    grid-template-columns: repeat(8, 150px);
    grid-template-rows: repeat(8,100px);
}


.link {
  display: grid;
  grid-column: 3/8;
  grid-row: 2;
}

.icon-1 {
  width: 22.87px;
  height: 20px;
  background: #9C69E2;
  border-radius: 20px;
  margin-inline-end: -15rem;
  margin-block-start: 0.8rem;
}
.icon-2 {
  width: 22.87px;
  height: 35px;
  background: #F063B8;
  border-radius: 20px;
  margin-inline-start: 1rem;
}
.buttom {
   background-color: white;
    padding-block-start: 1.8rem;
    text-align: center;
    border-radius: 2rem;
    width: 218.12px;
    height: 49px;
    margin-inline-end: -11rem;
    display: grid;
    grid-column: 7/8;
    transform: translate(497px, 10px);
}
}
.head {
  width: 737.51px;
  height: 464px;
  display: grid;
  grid-template-columns: repeat(8, 150px);
  grid-template-rows: repeat(4,150px);

}

.head > h1 {
    width: 737.51px;
    height: 184px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    align-items: center;
    color: #212353;
    display: grid;
    grid-row: 2;
    grid-column: 3/6;
}
.head > p {
    height: 120px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    display: grid;
    grid-row: 4;
    grid-column: 3/5;
}
.buttom-2 {
    background-color: purple;
    border-radius: 2rem;
    color: white;
    text-align: center;
    padding-block-start: 0.6rem;
    width: 127.38px;
    height: 29px;
    transform: translate(306px, 679px);
}



