.data-storage {
    background-image: url(../css/1pc.png);
    background-repeat: no-repeat;
    background-position: left 575.06px top 432px;
    background-size: 773.94px 378px;
    position: absolute;
    width: 1427px;
    height: 754px;
    left: 251px;
    top: 170px;
}
.link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon-1 {
  position: absolute;
  width: 22.87px;
  height: 20px;
  left:114px;
  top: 197px;
  background: #9C69E2;
  border-radius: 20px;
}
.icon-2 {
   position: absolute;
  width: 22.87px;
  height: 35px;
  left: 143.16px;
  top: 188px;
  background: #F063B8;
  border-radius: 20px;
}
.buttom {
  background-color: white;
  padding-block-start: 0.8rem;
  text-align: center;
  border-radius: 2rem;
  position: absolute;
  width: 186.12px;
  height: 30px;
  left: 1094.52px;
  top: 170px
}
.head {
  position: absolute;
  width: 737.51px;
  height: 464px;
  left: 251px;
  top: 360px;
}
.head > h1 {
    position: absolute;
    width: 737.51px;
    height: 184px;
    left: -144px;
    top: -66px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    align-items: center;
    color: #212353;
}
.head > p {
    position: absolute;
    width: 434.5px;
    height: 120px;
    left: -135px;
    top: 177px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.buttom-2 {
    background-color: purple;
    border-radius: 2rem;
    color: white;
    text-align: center;
    padding-block-start: 0.6rem;
    position: absolute;
    width: 127.38px;
    height: 29px;
    left: -139px;
    top: 317px;
}
