 section.seconde-picture {
  background-color: pink;
    width: 908px;
    height: 560px;
    border-radius: 50px;
    background-image: url(../image/image2\ \(2\).png);
    background-repeat: no-repeat;
    background-position: -4% 34%;
    margin-inline-start: 150px;
}
 .level{
  display: inline-block;
  margin-left: 474px;
  margin-right: 47px;
  margin-block-start: 193px;


}
.level-1{
  display: inline-block;
  margin-inline-start: 474px;
  margin-inline-end: 108px;
}


