.section_features {
  max-width: 1140px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-start: 150px;
}

.section_features header {
  text-align: center;
  max-width: 584px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.section_features h2 {
  font-size: 40px;
  font-weight: 700;
  color: #212353;
  margin-block-end: 50px;

}

.section_features header p {
  color: #4B5D68;
}

.section_features ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 42px;
  column-gap: 42px;
  grid-row-gap: 50px;
  row-gap: 50px;
  margin: 0;
  padding: 0;
  margin-block-start: 100px;
}


.feature {
  position: relative;
  list-style: none;
  border-radius: 30px;
  padding-inline-start: 172px;
  padding-inline-end: 50px;
  padding-block-start: 50px;
  padding-block-end: 33px;
}

.section_features h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: normal;
}

.feature p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
  color: #4B5D68;
}

.link a {
  display: inline;
  color: #212353;
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
}

#feature_search_data {
  background-color: rgba(104, 201, 186, 0.1);
}

#feature_search_data::before {
  content: "";
  position: absolute;
  background-image: url("../images/image3\ 1.svg");
  background-repeat: no-repeat;
  width: 232px;
  height: 211px;
  transform: translateX(-50%);
  top: 73px;
  left: 30px;

}

#feature_24_hours_access {
  background-color: rgba(156, 105, 226, 0.5);
  left: 145px;

}

#feature_24_hours_access::before {
  content: "";
  position: absolute;
  background-image: url("../images/image4.svg");
  background-repeat: no-repeat;
  width: 241px;
  height: 185px;
  transform: translateX(-50%);
  top: 71px;
  left: 35px;
}

#feature_print_out {
  background-color: rgba(240, 99, 184, 0.5);

}

#feature_print_out::before {
  content: "";
  position: absolute;
  background-image: url("../images/image5\ 1.svg");
  background-repeat: no-repeat;
  width: 245px;
  height: 181px;
  transform: translateX(-50%);
  bottom: 54px;
  left: 20px;

}

#feature_security_code {
  background-color: rgba(45, 156, 219, 0.5);
  left: 145px;

}

#feature_security_code::before {
  content: "";
  position: absolute;
  background-image: url("../images/image6\ 1.svg");
  background-repeat: no-repeat;
  width: 230px;
  height: 201px;
  transform: translateX(-50%);
  top: 86px;
  left: 20px;
}







/* .section_3  {

  background-image: url("../images/image3\ 1.svg");

}

.section_3  {

  background-image: url("../images/image4.svg");

}

.section_3 .article_3 {

  background-image: url("../images/image5\ 1.svg");

}

.section_3 .article_4 {

  background-image: url("../images/image6\ 1.svg");

} */



