.section_1 {
  background-image: url(../images/image1\ 1.svg);
  background-repeat: no-repeat;
  background-size: 885px;
  background-position: right;
  background-origin: padding-box;
}


.section_1 p {
  width: 380px;
  height: 120px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding-inline-start: 240px;
  margin-block-start: 50px;
  padding-inline-end: 980px;

}

.section_2 {
  width: 1117px;
  height: 560px;
  background-color: rgba(240, 99, 184, 0.15);
  background-image: url("../images/image2.svg");
  background-repeat: no-repeat;
  border-radius: 50px;
  margin-left: 240px;
  margin-top: 99px;
}

.section_2 h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  padding-inline-start: 550px;
  padding-inline-end: 92px;
  padding-block-start: 125px;
  padding-block-end: 40px;
}

 .section_2 p {
  width: 474px;
  height: 170px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  padding-inline-start: 550px;
  word-wrap: break-word;
}

.section_3 header p {
  width: 584px;
  height: 58px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  margin-left: 507px;
  margin-top: 50px;
}



