header nav {
  display: flex;
  justify-content: space-between;
}
header nav ul {
  text-align: center;
  padding-inline-start: 410px;
}
header nav li {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  list-style: none;
  padding-inline-start: 2rem;
}
