header nav > ul {
  width: 322px;
  height: 30px;
  margin-block-start: 50px;
  padding-inline-start: 410px;

}
nav ul > li {
  display: inline;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  text-transform: capitalize;
  color: #212353;
  padding-left: 40px;
}


/*header > nav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1rem;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  margin-block-start: 65px;
 }

nav li {
  display: inline;
}

nav > li a {
  text-decoration: none;
  color: #4b5d68;
  padding-inline-start: 40px;
}
