body{
  margin: 0;
}
.save-data{
background-color: lightgray;
background-image: url(../image/image1\ 1.png);
background-size: 700px;
 background-repeat: no-repeat;
 background-position: 238px 174px;
 width: 940px;
 height: 560px;
 margin-left: 150px;
margin-bottom: 50px;

}
.storage{


  margin-block-start: 102px;
  line-height: 110%;
  font-size: 49px;
  /* top: 60px; */
  /* margin: 0; */
  margin-inline-end: 609px;


}
section > nav{

  background-image: url(../image/Logo.png);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 49 35;

}
nav li{
  list-style: none;
  padding: 8px;

}
li > a:nth-of-type(1){
text-decoration: none;
margin-inline-end: 2rem;
margin-inline-start: 50px;
}
li > a:nth-of-type(2){
  text-decoration: none;
 margin-inline-end: 2rem;
}
li > a:nth-of-type(3){
  text-decoration: none;
 margin-inline-end: 2rem;
}
li > a:nth-of-type(4){
  text-decoration: none;
  margin-inline-end: 390px;
}

li > a:nth-of-type(5){
  text-decoration: none;
  background-color: white;
  border-radius: 13%;
  padding: 8px
}
 nav + header + p{
  line-height: 100%;
  margin-inline-end: 676px;

}
 nav + header + p + a {
  line-height: 140px;
  width: 200px;
  height: 70px;
  background-color: blue;
  color: white;
  padding: 13px;
  border-radius: 30%;

}
