.section-1 {
  margin-inline-start: 20px;
  margin-block-start: 20px;
  margin-inline-end: 5px;
  margin-block-end: 50px;
  width: 1600px;
  height: 700px;
  background-image: url("../images/image1\ 1.png"),
                    url(../images/Logo.jpg);
  background-position: 465px 315px,
                       150px 15px;
  background-repeat: no-repeat;
  background-size: 655px 370px,
                   60px 40px;
}

.section-1 header {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.section-1 nav ul{
  margin-inline-start: 200px;
  margin-block-start: -26px;
  text-align: start;
  list-style: none;
}

.section-1 header> nav li {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-block-start: -10rem;
  margin-inline-end: 2rem;
}

.section-1 nav li a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}

.section-1 .request_demo {
  position: absolute;
  width: 210px;
  height: 60px;
  align-items: flex-end;
  background-color: #FFFFFF;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  margin-inline-start: 55rem;
  margin-block-start: -4rem;
}

.section-1 .learn_more {
  width: 170px;
  height: 60px;
  background-color: #9C69E2;
  color: #ffffff;
  border-radius: 50px;
  margin-block-start: 4rem;
  margin-inline-end: 279px;
}

.section-1 button::after {
  content: '→';
  margin-left: 1rem;
}

.section-1 header {
  width: 645px;
  height: 468;
  margin-inline-start: 60px;
  margin-block-start: 60px;
}

.section-1 h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 80px;
  width: 645px;
  height: 184px;
  left: 145px;
  top: 206px;
  color: #212353;
  line-height: 110%;
}

.section-1 header p {
  width: 380px;
  height: 120;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}


