.section-3 {
  width: 1000px;
  height: 700px;
  margin-inline-start: 40px;
  margin-block-start: 2rem;
  position: relative;
  background-image: url(../images/image3\ 1.png),
                    url(../images/image4.png),
                    url(../images/image5\ 1.png),
                    url(../images/image6\ 1.png);
  background-repeat: no-repeat;
  background-position: 40px 184px,
                        486px 150px,
                        40px 430px,
                        486px 445px;
  background-size: 200px 200px;
}

.section-3 header {
  text-align: center;
  margin: 2rem;
  width: 450px;
  height: 100px;
  margin-inline-start: 280px;
}

.section-3 li h3 {
  margin-block-start: 3rem;
}

.section-3 ul {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  column-gap: 30px;
  row-gap: 15px;
  list-style: none;
}

.section-3 ul li:nth-of-type(1) {
   background-color: #68C9BA;
   opacity: 0.2;
   padding-inline-start: 10rem;
   width: 200px;
   height: 250px;
   border-radius: 10%;
   font-size: 0.8rem;
   margin-inline-start: 5rem;
}
.section-3 li:nth-of-type(2) {
  background-color: #9C69E2;
  opacity: 0.2;
  padding-inline-start: 10rem;
  width: 200px;
  height: 250px;
  border-radius: 10%;
  font-size: 0.8rem;
}


.section-3 li:nth-of-type(3) {
  background-color: lightpink;
  opacity: 0.2;
  padding-inline-start: 10rem;
  width: 200px;
  height: 250px;
  border-radius: 10%;
  font-size: 0.8rem;
  margin-inline-start: 5rem;
}

.section-3 li:nth-of-type(4) {
  background-color: #2D9CDB;
  opacity: 0.2;
  padding-inline-start: 10rem;
  width: 200px;
  height: 250px;
  border-radius: 10%;
  font-size: 0.8rem;
}
