.section-1 {
  margin-inline-start: 20px;
  margin-block-start: 50px;
  margin-inline-end: 5px;
  margin-block-end: 50px;
  width: 1600px;
  height: 700px;
  background-image: url("../images/image1\ 1.png"),
                    url(../images/Logo.jpg);
  background-position: 367px 380px,
                       150px 50px;
  background-repeat: no-repeat;
  background-size: 650px 330px,
                   60px 40px;
}

.section-1 header {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.section-1 nav ul{
  margin-inline-start: 200px;
  margin-block-start: -26px;
  text-align: start;
  list-style: none;
}

.section-1 header> nav li {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-block-start: -10rem;
  margin-inline-end: 2rem;
}

.section-1 nav li a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}

.section-1 button {
  position: absolute;
  align-items: flex-end;
  padding: 2rem;
  background-color: #FFFFFF;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  margin-inline-start: 60rem;
  margin-block-start: -5rem;
}

.section-1 button::after {
  content: '→';
  margin-left: 1rem;
}

.section-1 header {
  width: 645px;
  height: 468;
  margin-inline-start: 60px;
  margin-block-start: 40px;
}

.section-1 h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 4rem;
  width: 600px;
  height: 184;
}

.section-1 header p {
  width: 340px;
  height: 120;
}


