:root {
  --section-width: 1100px;
  --section-height: 350px;
  --padding-base-unit: 120px;
}

section {
  margin: auto;
  color: #4B5D68;
  max-width: var(--section-width);
}
/*This is for the section data storage*/
.data-storage {
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-block-start: 150px;
  margin-block-end: 99px;
}

.data-storage::after {
  position: absolute;
  content: "";
  background-image: url("../images/data_storage.svg");
  width: 900px;
  height: 420px;
  top: 50%;
  transform: translateY(-50%);
  left: 350px;
}

/*This is for the second section for the high-level data storage bank */

.data-storage-bank {
  position: relative;
  background-repeat: no-repeat;
  background-size: var(--section-height);
  padding-inline-start: var(--padding-base-unit);
  padding-inline-end: var(--padding-base-unit);
  padding-block-start: var(--padding-base-unit);
  padding-block-end: var(--padding-base-unit);
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  margin-block-end: 149px;
}

.data-storage-bank::before {
  position: absolute;
  content: "";
  background-image: url("../images/data-storage-bank.svg");
  width: 500px;
  height: 540px;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}

.features {
  width: auto;
  margin-block-end: 150px;
}

.testimonials {
  padding-inline-start: var(--padding-base-unit);
  padding-inline-end: var(--padding-base-unit);
  padding-block-start: var(--padding-base-unit);
  padding-block-end: var(--padding-base-unit);
  background-color: #9C69E2;
  width: auto;
  border-radius: 50px;
}
