body {
  font-family: Avenir, helvetic, Arial;
}

.section-3 {
  width: 1000px;
  height: 1000px;
  display: grid;
  margin-block-end: 5rem;
}

.section-3 ul {
  display: grid;
  grid-template-columns: repeat(2, 550px);
  column-gap: 10px;
  row-gap: 10px;
}

.feature {
  list-style: none;
  margin: 2rem;
  padding-top: 49px;
  padding-bottom: 33px;
  padding-left: 172px;
  margin-left: 100px;
  padding-right: 50px;
  background-color: grey;
  border-radius: 30px;
  font-size: 16px;
  position: relative;
}

.feature::before {
  content: '';
  position: absolute;
  left: -102px;
  top: 50%;
  display: block;
  width: 245px;
  height: 211px;
}
.section-3 header {
  text-align: center;
  margin-block-start: 3rem;
}

.feture h4 {
  font-size: 24px;
  line-height: 50px;
  font-weight: 400;
  color: #212353;
  margin: 0;
  margin-bottom: 20px;
}

.feature p {
  color: #4B5D68;
  line-height: 1.6;
  margin: 0;
}
.more-link {
  padding-block-start: 2rem;
}

.more-link a {
  color: #212353;
  font-weight: 800;
  text-decoration: none;
  margin-block-start: 2rem;
}

.more-link a::after {
  content: '→';
  margin-left: 1rem;
 color: #9C69E2;
}

#feature_search_data {
  background-color: rgba(104, 201,  186,0.1);
}
#feature_search_data::before {
  content: '';
  position: absolute;
  width: 232px;
  height: 211px;
  left: -100px;
  top: 80px;
  background-image: url(../images/image3\ 1.png);
}
#feature_24_hour_access {
  background-color: rgba(156, 105,  226, 0.1)
}
#feature_24_hour_access::before {
  content: '';
  position: absolute;
  width: 241px;
  height: 185px;
  left: -100px;
  top: 80px;
  background-image: url(../images/image4.png);
  background-repeat: no-repeat;
}
#feature_print_out {
  background-color: rgba(240, 99,  184, 0.1);
}
#feature_print_out::before {
  content: '';
  position: absolute;
  width: 245px;
  height: 181px;
  left: -100px;
  top: 100px;
  background-image: url(../images/image5\ 1.png);
  background-repeat: no-repeat;
}
#feature_security_code {
  background-color: rgba(45, 156,  219, 0.1);
}

#feature_security_code::before {
  content: '';
  position: absolute;
  width: 230px;
  height: 201px;
  left: -100px;
  top: 80px;
  background-image: url(../images/image6\ 1.png);
  background-repeat: no-repeat;
}
