
.level-storage {
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  transform:  translate(10px, 75px) scale(0.7, 1);
}



.level-storage1 {
    background-image: url(../css/image2.png);
    background-repeat: no-repeat;
    background-size: 406px 440px;
    background-position: left 1px top 100px;
    display: grid;
    grid-template-columns: repeat(10, 100px 1fr);
    grid-template-rows: repeat(4, 150px);
}
.level-storage1 > h2 {
  display: grid;
  grid-column: 8/9;
  grid-row: 2;
  width: 475px;
  height: 100px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  align-items: center;
  color: #212353;


}
.level-storage1 > p{
  display: grid;
  grid-column: 8/9;
  grid-row: 3;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #4B5D68;
}
