:root {
  --top : 50%;
  --width: 1000px;
  --height: 480px;
  --margin-inline-start: 300px;
  --margin-block-start: 100px;
  --image-width: 300px;
  --image-height: 200px;
  --padding-inline-start: 100px;
  --padding-inline-end: 100px;
}
section:nth-of-type(3) {
  width: var(--width);
  height: var(--height);
  margin-block-start: calc(var(--margin-block-start) * 2);
}

section:nth-of-type(3) h3 {
  margin-block-start: calc(var(--margin-block-start) * (-4));
  margin-inline-start: calc(var(--margin-inline-start) * 2);
  font-family: Helvetica;
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  color: #212353;
}
section:nth-of-type(3) h3 ~ p {
  margin-block-start: calc(var(--margin-block-start) - 20px);
  margin-inline-start: calc(var(--margin-inline-start) + 80px);
  font-family: Avenir;
  font-weight: 500;
  font-size: 19px;
  line-height: 29px;
  text-align: center;
  color: #4B5D68;
}
 section:nth-of-type(3) div {
  display: grid;
  column-gap: 3rem;
  grid-template-columns: repeat(2, 145px);
  grid-template-rows: repeat(2, 145px);
  width: calc(var(--width) / 3);
  height: calc(var(--width) / 3);
}
 section:nth-of-type(3) div #example-1 {
  background-image: url("../images/image4.svg");
  background-repeat: no-repeat;
  transform: translate(50%, 50%);
  margin-inline-start: var(--margin-inline-start);
  margin-block-start: calc(var(--margin-block-start) / 2);
  background: #68C9BA;
  border-radius: 50px;
 }
section:nth-of-type(3) div #example-2 {
  background-image: url("../images/image5\ 1.svg");
  background-repeat: no-repeat;
  transform: translate(50%, -50%);
  margin-inline-start: var(--margin-inline-start);
  margin-block-start: calc(var(--margin-block-start) / 2);
  background: #68C9BA;
  border-radius: 50px;
}
section:nth-of-type(3) div #example-3 {
  background-image: url("../images/image6\ 1.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  margin-inline-start: var(--margin-inline-start);
  margin-block-start: calc(var(--margin-block-start) / 2);
  background: #68C9BA;
  border-radius: 50px;
}
section:nth-of-type(3) div #example-4 {
  background-image: url("../images/image3\ 1.svg");
  background-repeat: no-repeat;
  transform: translate(50%, 50%);
  margin-inline-start: var(--margin-inline-start);
  margin-block-start: calc(var(--margin-block-start) / 3);
  background: #68C9BA;
  border-radius: 50px;
/*
 section:nth-of-type(3) div #example-2 {
  margin-inline-start: calc(var(--margin-inline-start) * 3);
  margin-block-start: calc(var(--margin-block-start) / 2);
  background: #4B5D68;
  border-radius: 50px;
 }
 section:nth-of-type(3) div #example-2 img {
  width: calc(var(--width) / 4);
  height: calc(var(--height) / 2);
  transform: translate(50%, -50%);
  margin-inline-start: calc(var(--margin-inline-start) * (-1));
}

 section:nth-of-type(3) div #example-3 {
  margin-inline-start: var(--margin-inline-start);
  margin-block-start: calc(var(--margin-block-start) * 3);
  background: #F063B8;;
  border-radius: 50px;
 }
 section:nth-of-type(3) div #example-3 img {
  width: calc(var(--width) / 4);
  height: calc(var(--height) / 2);
  transform: translate(50%, -50%);
  margin-inline-start: calc(var(--margin-inline-start) * (-1));
}
 section:nth-of-type(3) div #example-4 {
  margin-inline-start: calc(var(--margin-inline-start) * 3);
  margin-block-start: calc(var(--margin-block-start) * 3);
  background: #2D9CDB;
  border-radius: 50px;
 }
 section:nth-of-type(3) div #example-4 img {
  width: calc(var(--width) / 4);
  height: calc(var(--height) / 2);
  transform: translate(50%, -50%);
  margin-inline-start: calc(var(--margin-inline-start) * (-1));
}

section:nth-of-type(3) div p {
  width: calc(var(--width) / 5);
  height: calc(var(--height) / 3);
  margin-block-start: calc(var(--margin-block-start) / 1);
  margin-inline-start: calc(var(--margin-inline-start) / 2 * (-0.5));
  font-family: Avenir;
  line-height: 20px;

}
