
section:nth-of-type(3) h3 {
  margin: -1rem;
  width: 405px;
  height: 56px;
  padding-inline-start: 596.29px;
  padding-inline-end: 500px;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 40px;
  color: #212353;
}
section:nth-of-type(3) header > p {
width: 500px;
height: 60px;
padding-block-start: 50px;
margin-block-end: 4rem;
padding-inline-start: 507px;
padding-inline-end: 508px;
text-align: center;
font-size: 18px;
font-family: Avenir;
}

div ul {
  display: grid;
  grid-template-columns: repeat(2, 700px);
  grid-template-rows: repeat(2, 400px);
  column-gap: 2rem;
  margin-inline-start: 9rem;
 }
.feature {
  width: 200px;
  height: 250px;
  list-style: none;
  margin: 0;
  margin-inline-start: 102px;
  padding-block-start: 49px;
  padding-block-end: 33px;
  padding-inline-start: 172px;
  padding-inline-end: 70px;
  border-radius: 30px;
  background-color: cornsilk;
  position: relative;
}
.feature h4 {
  font-size: 24px;
  font-weight: 400;
  color: #4B5D68;
  line-height: 50px;
}
.feature p {
  color: #4B5D68;
}
.feature a {
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
}
#feature_search {
  background-color: rgb(104, 201, 186, 0.1);
}
#feature_hours {
  background-color: rgb(156, 105, 226, 0.1);
}
#feature_print {
  background: #F063B8;;
  background-color: rgb(240, 99, 184, 0.1);
}
#feature_security {
  background: #2D9CDB;
  background-color: rgb(45, 156, 219, 0.1);
}
#feature_search::before {
  content: "";
  background-image: url('../images/search-data.svg');
  background-repeat: no-repeat;
  position: absolute;
  left: -120px;
  display: block;
  width: 245px;
  height: 211px;
  transform: translateY(-5%);
}
#feature_hours::before {
  content: "";
  background-image: url('../images/24-hours.svg');
  background-repeat: no-repeat;
  position: absolute;
  left: -120px;
  display: block;
  width: 245px;
  height: 211px;
  transform: translateY(-5%);
}
#feature_print::before {
  content: "";
  background-image: url('../images/print-out.svg');
  background-repeat: no-repeat;
  position: absolute;
  left: -120px;
  display: block;
  width: 245px;
  height: 211px;
  transform: translateY(-5%);
}
#feature_security::before {
  content: "";
  background-image: url('../images/security.svg');
  background-repeat: no-repeat;
  position: absolute;
  left: -120px;
  display: block;
  width: 245px;
  height: 211px;
  transform: translateY(-5%);
}

