:root {
  --nav-gap-padding: 1rem;
  --border-checkbox: 1px;
}
.navigation__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.navigation__link--item {
  list-style: none;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-end: 1rem;
  padding-block-start: 1rem;
}
div nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #aaa;
  font-weight: 400;
}

.user_interface label {
  display: block;
  cursor: pointer;
  border-inline-start: 1px solid #ccc;
  border-block-start: 1px solid #ccc;
  border-block-end: 1px solid #ccc;
  border-radius: 5px;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-end: 1rem;
  padding-block-start: 1rem;
  color: #ccc;
  text-transform: uppercase;
}

.user_interface label:hover,
.user_interface a:hover {
  background-color: red;
}
.user_interface nav {
  background-color: #eee;
  transition: transform .2s ease-in;
}
.user_interface :checked ~ nav {
  transform: translateX(-375px);
  display: none;
}
