:root {
  --nav-gap-padding: 1rem;
}
.navigation__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.navigation__link--item {
  list-style: none;
  padding-inline-start: var(--nav-gap-padding);
  padding-inline-end: var(--nav-gap-padding);
  padding-block-end: var(--nav-gap-padding);
  padding-block-start: var(--nav-gap-padding);
  font-size: 1rem;
}
div nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #aaa;
  font-weight: 400;
}

.user_interface label {
  display: block;
  cursor: pointer;
  padding-inline-start: var(--nav-gap-padding);
  padding-inline-end: var(--nav-gap-padding);
  padding-block-end: var(--nav-gap-padding);
  padding-block-start: var(--nav-gap-padding);
  color: var(--color-inverse);
  text-transform: uppercase;
}
.user_interface nav {
  background-color: #eee;
  transition: transform .2s ease-in;
}
.user_interface :checked ~ nav {
  display: none;
  transform: translateX(-375px);
}
