:root {
  --padding-vertical: 2rem;
  --padding-horizontal: 1rem;
}
section:nth-of-type(3) img {
  width: 375px;
  height: 154px;
  border-radius: 0.5rem;
}
.heading__lists {
  position: relative;
  top: -50%;
  padding: 0;
  margin: 0;
}

section:nth-of-type(3) .list__subheading--inside {
  padding-block-start: var(--padding-vertical);
  padding-inline-start:  var(--padding-horizontal);
}
section:nth-of-type(3) .list__subheading {
  background-color: #ffff;
  border-radius: 0.5rem;
  margin-block-end: var(--padding-vertical);
}
section:nth-of-type(3) .main__secod--paragraph {
  padding-inline-start: var(--padding-horizontal);
  margin: 0;
}
