.table table > tbody > tr > .svg-1 .num {
  position: absolute;
  left: 10rem;
}

.table table > tbody > tr:nth-of-type(8) > .svg-1 > .num {
  left: 10.3rem;
}

.table table > tbody > tr:nth-of-type(10) > .svg-1 > .num {
  left: 10.5rem;
}
