:root {
  --image_width: 41px;
  --image_gutter: 10px;
}

h3 {
  border-bottom: gray solid 2px;
  height: 23px;
  width: 289px;
  padding-block-end: 17px;
  text-transform: uppercase;
  margin-block-start: 0;
}

h3 a {
  text-decoration: none;
}

aside p {
  margin: 0;
}

.sat_obs p {
  text-transform: uppercase;
}

.sat_obs {
  display: block;
  padding-inline-start: calc(var(--image_width) + var(--image_gutter));
}

.satellite_observation {
  display: flex;
  flex-direction: row;
}

.sat_obs:nth-child(1) {
  background-image: url(../images/bg_for_the-section.svg);
  background-repeat: no-repeat;
  padding-inline-end: 30px;
}
 .sat_obs:nth-last-of-type(1) {
   background-image: url(../images/eye_image.svg);
   background-repeat: no-repeat;
 }

small {
  display: block;
  text-transform: uppercase;
  text-align: end;
  padding-inline-end: 118px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #848890;
 }

 section + section {
   margin-block-start: 63px;
 }

 .text {
   line-height: 22px;
   font-size: 16px;
   font-weight: normal;
 }

 .community span,
 .community p {
  display: inline-block;
 }

 .community p {
   text-transform: uppercase;
 }

 .community span {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #EC7E5F;
 }
