.figure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}

.figure_1,
.figure_2 {
  display: flex;
  flex-direction: row;
}

.figure_1 svg {
  margin-inline-start: -3rem;
  width: 37px;
  height: 38px;
}

.small {
  margin-inline-start: -2rem;
  margin-block-start: 1rem;
  text-transform: uppercase;
}

h3 {
  border-bottom: gray solid 2px;
  height: 23px;
  width: 289px;
  padding-block-end: 7px;
}

.stats .figure_2 svg {
  width: 41px;
  height: 30px;
}

.community span:nth-of-type(1) {
  color: #ec7e5f;
  height: 60px;
  width: 290px;
}

.community small, h3, span:nth-of-type(2) {
  text-transform: uppercase;
}

section > h2 > a {
  text-transform: uppercase;
}

section > h2 ~ p > a {
  color: #ec7e5f;
}
