.container {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 753px;
  justify-content: space-between;
}

.origin_purpose {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 10px;
}

.confidence_last_seen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 10px;
}

