header {
  position: relative;
  width: 753px;
  height: 194px;
}

header h1 {
  display: block;
  width: 266px;
  height: 54px;
  color: #FC7756;
  text-transform: uppercase;
  position: absolute;
  top: 95px;
  margin: 0;
  font-weight: bold;

}

header svg {
  width: 120px;
  height: 21px;
  margin-inline-start: -100px;
}

.head {
  display: flex;
  flex-direction: row;
}

.head ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 546px;
  height: 20px;
  margin: 0;
  margin-block-start:15px;
}

.head nav li {
  list-style: none;
}

.head nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.button {
  display: flex;
  width: 298px;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  position: absolute;
  left: 932px;
  top: 106px;
}

.button button {
  background-color: black;
  width: 143px;
  height: 30px;
}

.my_profile {
  position: absolute;
  top: 10px;
  left: 1222px;
  width: 122px;
  height: 27px;
  text-transform: uppercase;
}

.my_profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 130px;
  line-height: 27px;
  margin-inline-end: 4px;
}

.my_profile > a {
  vertical-align: bottom;
  text-decoration: none;
}
