:root {
  --html-margin-inline-start: 100px;
}

html {
  margin-inline-start: var(--html-margin-inline-start);
}

header {
  position: relative;
  height: 194px;
}

header h1 {
  display: block;
  width: 266px;
  height: 54px;
  color: #FC7756;
  text-transform: uppercase;
  position: absolute;
  top: 95px;
  margin: 0;
  font-weight: bold;

}

header svg {
  width: 120px;
  height: 21px;
  margin-top: 9px;
  margin-inline-start: calc(var(--html-margin-inline-start) * -1);
}

.head {
  display: flex;
  flex-direction: row;
}

.head ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 546px;
  margin: 0;
  margin-block-start:26px;
  line-height: 23px;
}

.head nav li {
  list-style: none;
}

.head nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
