
main > nav ul {
  display: flex;
  flex-direction: row;
  width: 753px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-block-end: 1rem;
}

main > nav ul li {
  list-style: none;
}

main > nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

main > nav li:first-of-type {
  font-weight: bold;
}

main > nav {
  border-bottom: solid gray 1px;
}

main .navigation ul {
  display: flex;
  flex-direction: row;
  width: 753px;
  justify-content: space-between;
}

main .navigation ul li {
  list-style: none;
  margin: 0;
}

main .navigation ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
