nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

section > nav li:first-of-type {
  font-weight: bold;
}

nav:not(#navigation_list) {
  border-bottom: solid gray 1px;
}

nav:not(#navigation_list) ul {
  margin-block-end: 1rem;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: 0.05em;
}
