.my_profile {
  position: absolute;
  top: 26px;
  right: 22px;
  text-transform: uppercase;
}

.my_profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 27px;
}

.my_profile > a {
  text-decoration: none;
  padding-inline-start: 5px;
  margin: 0;
}
