:root {
  --icon_width: 24px;
  --icon_height: 24px;
  --icon_gutter: 8px;
}

.my_profile a {
  display: inline-block;
  line-height: var(--icon_height);
  background-image: url(../images/mask_group.svg);
  background-repeat: no-repeat;
  background-position: left center;
  text-transform: uppercase;
  padding-inline-start: calc(var(--icon_width) + var(--icon_gutter));
  text-decoration: none;
  margin-inline-end: 22px;
}
