body {
  background-color: black;
  margin-inline-start: 100px;
}

/* main {
  display: grid;
  grid-template-columns: 2fr 1fr;
} */

section > h2 {
  color: #ffffff;
}

section > h2 ~ p {
  color: #ffffff;
}
