.button{
  display: inline-block;
  background-color: #0bce83;
  width: 374px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-inline-start: auto;
  align-items: center;
  line-height: 0;
  border-radius: 10px;
} 

#purple{
  background-color: #E2CBFF;
  width: 225px;
  height: 50px;
  border-radius: 8px;
}

#purple p{
  color: purple;
  font-size: 15px;
  background-image: url(../check.svg);
  background-position: 0% 100%;
  background-repeat: no-repeat;
}

#button_add_to_cart{
  height: 40px;
  width: 78px;
  background-color: #0bce83;
  background-image: url(../shopping-cart.svg);
  border-radius: 8px;
}

#button_favourite{
  height: 40px;
  width: 78px;
  background-color: white;
  background-image: url(../heart-icon.svg);
}

button > p{
  color: white;
  text-transform: uppercase;
  font-size: medium;
}

.small_button{
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
}