.button {
  margin-block-end: 48px;
  border-radius: 8px;
  border: 0;
  margin-inline-end: 32px;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
}

.button a {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  letter-spacing: -0.01px;
}

.button-favourite {
  background: #FFFFFF;
  border: 1px solid #D9D0E3;
  box-sizing: border-box;
  background-image: url(../image/heart.svg);
  background-repeat: no-repeat;
  background-position: 20px;
}

.button-white-bigger {
  background: #FFFFFF;
  border: 1px solid #D9D0E3;
  box-sizing: border-box;
  background-image: url(../image/heart.svg);
  background-repeat: no-repeat;
  background-position: 20px;
  padding-block-end: 20px;
}

.button-add-to-cart {
  background: #0BCE83;
  background-image: url(../image/shopping-cart.svg);
  background-repeat: no-repeat;
  background-position: 20px;
}

.button-green-large {
  background: #0BCE83;
}

.button-green-medium {
  background: #0BCE83;
}


.button-green-medium a::before {
  content: url(../image/shopping-cart.svg);
  margin-inline-end: 16px;
  margin-inline-start: 48px;
}

.button-green-larger {
  background: #0BCE83;
}
