body {
  background-color: rgb(219, 216, 221);
}

p {
  border-radius: 8px;
}

.button {
  width: 70px;
  height: 40px;
}

.large_button {
  height: 56px;
  background-color: rgb(11, 206, 131);
  text-align: center;
}

.large_button > a {
  padding-block-start: 1rem;
}


a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'SF Pro' sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.01px;
  color: #FFFFFF;
  display: inline-block;
  /* padding-block-start: 1rem; */
}

#heart-image {
  padding-block-start: 10px;
  padding-inline-start: 1.5rem;
}
