.world_news {
  position: relative;
  color: #fff;
}

.place {
  position: absolute;
  object-fit: cover;
  height: 388px;
  width: 100%;
}

.world_news__div {
   position: absolute;
   padding-inline-start: 1rem;
   padding-inline-end: 1rem;
   margin-block-start: 2rem;
}

.world_news__heading {
  font-size: 24px;
  font-weight: 700;
  border-bottom: #fff 2px solid;
  padding-block-end: 2rem;
  margin-block-start: 1rem;
  margin-block-end: 0;
  text-transform: uppercase;
}

.world_news__heading--small {
    font-size: 24px;
    font-weight: 700;
    margin-block-start: 2rem;
}

.world_news__explanations {
  font-size: 16px;
}

.learn_more {
  position: absolute;
  background-color: #fa6980;
  border-radius: 5px;
  margin-block-start: 1rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  padding-block-start: 0.8rem;
  padding-block-end: 0.8rem;
}

.learn_more__link {
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
}

@media (min-width: 768px) {
  .world_news__div {
    position: absolute;
    padding-inline-start: 5rem;
    padding-inline-end: 5rem;
    margin-block-start: 2rem;
    padding-block-start: 4rem;
 }
  .world_news {
    margin-block-start: -1rem;
  }
  .learn_more {
    margin-block-end: 5rem;
}
.place {
  height: 450px;
}

}
