.article_simple {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.article_simple .category {
  display: none;
}

.article_simple .article_header {
  order: 2;
}

.article_simple .article_image {
  order: 1;
  height: calc((100vw - 3rem) / 2);
  position: relative;
}

.article_simple .article_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.375rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article_simple .article_description {
  display: none;
}

.article_simple .article_footer {
  order: 3;
  color: #A6ADB4;
}
