.article_card {
  position: relative;
  color: #fff;
  background-color: rgba(0,0,0,.2);
  padding: 2rem 1.5rem;
}

.article_card .article_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.article_card .article_image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article_card p {
  line-height: 1.75;
}

.article_card .article_title {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-block-start: -1rem;
  margin-block-end: -1rem;
}

.article_card .publication_details time {
  background-image: url(../images/icons/icon_clock_white.svg);
}
