.article_swatch {
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  overflow: hidden;
}

.article_swatch .article_image {
  order: 1;
  margin-block-start: -1.5rem;
  margin-inline-start: -1.5rem;
  margin-inline-end: -1.5rem;
}

.article_swatch .article_header {
  order: 2;
}

.article_title {
  margin-block-end: 0;
}

.article_swatch .category {
  display: none;
}

.article_swatch .article_description {
  order: 3;
  font-size: 0.875rem;
  color: #A6ADB4;
}

.article_swatch .article_footer {
  order: 4;
  color: #A6ADB4;
}

.article_swatch .publication_details {
  margin-block-start: 1rem;
  margin-block-end: 0;
}
