article {
  padding: 1.5rem;
}

.article_header {
  display: flex;
  flex-direction: column;
}

.article_title {
  order: 2;
}

.article_image {

}

.article_description {

}

.article_description > p {
  margin-block-start: 1.25rem;
  margin-block-end: 1.25rem;
}

.article_description > p:last-of-type {
  margin-block-end: 0;
}
