.article{
  color: lightslategray;
}

.article_time{
  color: lightslategray;
  font-style: italic;
  padding-block-end: 2rem;
}

.article_title{
  font-weight: bold;
}

.article_1{
  background-color: white;
}

.article_time_1{
  padding-inline-end: 3rem ;
}

