.button {
  display: inline-block;
  appearance: none;
  padding: 1rem 2.5rem;
  background-color: #FA6980;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1;
  font-weight: 700;
  border-radius: 0.375rem;
}
