.button a {
  font-size: 12px;
  background-color: rgb(250, 105, 128);
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  border-radius: 6px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

button {
  position: relative;
  background-color: transparent;
  border: 0;
  height: 0;
}

button {
  background-repeat: no-repeat;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
}

button:active {
visibility: hidden;
border: none;
}

.previews {
  background-image: url("../css/icon/previous-icon.svg");
  padding-inline-end: 2rem;
}

.next {
  background-image: url("../css/icon/next-icon.svg");
}
