body > header {
  padding-inline-start: 1rem;
  object-fit: cover;
}

h1 {
  margin: 0;
}

h1 > a {
  font-size: 13px;
  text-transform: uppercase;
  color: red;
}

input[type="checkbox"]:checked {
  transform: translateX(10px);
  top: -10%;
  display: none;
}
