body > header {
  padding-inline-start: 1rem;
  object-fit: cover;
}

h1 {
  margin: 0;
}

h1 > a {
  font-size: 13px;
  text-transform: uppercase;
  color: red;
}

.navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-110%);
  transition: transform .2s;
  box-shadow: 0px 0px 50px rgba(0,0,0,.25);
  z-index: 1;
  background-color: #f6f8f9;
  padding-inline-start: 2rem;
  width: 290px;
  padding-block-start: 1rem;
 }

.input[type="checkbox"]:checked + label {
  transform: translateX(0);
}
