html {
font-family: helvetica, helvetica-bold;
}
body {
 display: flex;
 flex-direction: column;
 margin-inline-start: 0.5rem;
}

li {
  list-style: none;
}
.sharing-news__titles__big-title {
font-size: 24px;
font-weight: 700;
text-transform: uppercase;
padding-block-end: 2rem;
}

.sharing-news__titles__sub-title1--uppercase {
  text-transform: uppercase;
  font-size: 16px;

}
#trending .sharing-news__titles__big-title,
#happening-today .sharing-news__titles__big-title {
  margin-inline-start: 2.3rem;
  padding-block-start: 2rem;
}
.sharing-news__explanation {
  font-size: 16px;
  line-height: 32px;
}

.sharing-news__description__period {
  font-size: 13px;
}


