body {
  font-family: Helvetica, Arial, sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

small,
small a,
.travel-paragraph,
.technology-paragraph,
.post-paragraph {
  color: rgb(166, 173, 180);
}

.travel-paragraph,
.technology-paragraph,
small a,
.post-paragraph,
.small-title {
font-family: serif;
}

.small-title {
  margin-block-end: 0;
}

.travel,
.technology {
color: rgb(250, 105, 128);
}

.travel,
.technology,
.world-news > a,
.more-news > a,
.trending > a,
.happening-now a {
  text-transform: uppercase;
  text-decoration: none;
}

.happening-now {
  margin-block-end: 1rem;
}

.world-news > a {
  color: #FFFFFF;
  font-weight: 700;
}

.more-news > a,
.trending > a,
.happening-now a {
  color: #000000;
  font-weight: 700;
}

.with-background-color {
  /*
  background-color: rgb(246, 248, 249);
*/
}

.more-news-heading {
border-block-end: 2px solid rgb(166, 173, 180);
}

header + .more-news {
  margin-block-end: 2rem;
}
 .introduction-paragraph {
  margin-block-end: 2rem;
 }

 img[alt="nice-river-and-mountain"],
 img[alt="orange-parasol"],
 img[alt="dusty-elephant"],
 img[alt="a-red-bird"],
 img[alt="sloppy-road"] {
   border-radius: 6px;
 }

 img[alt="dusty-elephant"] {
   margin-block-start: 1rem;
 }

 .images-posts {
   border-block-start: 2px solid rgb(166, 173, 180);
 }
