html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

body {
  margin: 0;
  background-color: #F6F8F9;
  color: #202124;
}

img {
  max-width: 100%;
}

body > header > :first-child,
body > nav > :first-child,
main > :first-child,
body > footer > :first-child {
  margin-block-start: 0;
}

body > header > :last-child,
body > nav > :last-child,
main > :last-child,
body > footer > :last-child {
  margin-block-start: 0;
}

figure {
  margin: 0;
  padding: 0;
}

body > [type="checkbox"] {
  display: none;
}

nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
