#section_featured_article article {
  padding-block-start: 2.5rem;
  padding-block-end: 2.5rem;
}

#section_featured_article > article > header {
  display: flex;
  flex-direction: column;
}

#section_featured_article .category {
  order: 1;
  margin-block-start: 0;
  padding-block-end: 2.5rem;
  margin-block-end: 2.5rem;
  border-bottom: 2px solid currentColor;
  line-height: 1;
}

#section_featured_article .card_title {
  order: 2;
}
