:root {
  --padding-tab-important: 2rem;
  --par-horizontal-padding: 2rem;
  --par-vertical-padding: 0.5rem;
  --button-vertical-padding: 1rem;
  --text-color: #ffff;
}
.amaizing_place {
  position: absolute;
  z-index: -1;
  border-radius: 0.5rem;
}
.section__first {
  color: var(--text-color);
}
.section__heading--important {
  padding-inline-start: var(--padding-tab-important);
  padding-inline-end: var(--padding-tab-important);
  padding-block-start: var(--padding-tab-important);
  padding-block-end: var(--padding-tab-important);
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}
.section__heading--secondary {
  border-top: 1px solid;
  padding-inline-start: var(--par-horizontal-padding);
  padding-inline-end: var(--par-horizontal-padding);
  padding-block-start: var(--par-vertical-padding);
  padding-block-end: var(--par-vertical-padding);
  margin: 0;
  font-size: 1.5rem;
  font-weight: 800;
}
.section__paragraph--description {
  padding-inline-start: var(--par-horizontal-padding);
  padding-inline-end: var(--par-horizontal-padding);
  padding-block-start: var(--par-vertical-padding);
  padding-block-end: var(--par-vertical-padding);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 0;
}
.section_button__link {
  padding-inline-start: var(--par-horizontal-padding);
  padding-inline-end: var(--par-horizontal-padding);
  padding-block-start: var(--button-vertical-padding);
  padding-block-end: var(--button-vertical-padding);
  text-transform: uppercase;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  background-color: rgb(250, 105, 128);
  font-size: 0.75rem;
}
.section_button {
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
}
@media (min-width: 768px) {
  .amaizing_place {
    position: absolute;
    min-width: 768px;
    z-index: -1;
    height: 388px;
    border-radius: 0.5rem;
  }
}
