body > footer {
  padding: 3.75rem 1rem;
  background-color: #A6ADB4;
  color: #fff;
  font-size: 0.75rem;
}

body > footer > h2 a {
  text-transform: uppercase;
  font-size: 0.875rem;
}

body > footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body > footer a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

.links_site {
  columns: 2;
  margin: 3.5rem 0;
  padding: 0.5rem 0;
}

.links_site li {
  margin: 0.5rem 0;
}

.links_site a {
  display: inline-block;
  padding: 0.25rem;
  margin: 0 -0.25rem;
  color: #CBD0D3;
  transition: color .3s;
}

.links_site a:hover {
  color: #fff;
}

.link_primary + .link_secondary {
  margin-block-start: 0;
}

.link_primary {
  display: none;
}

.links_social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 8.5rem;
}
