.footer__communication {
  background-color: gray;
  font-size: 11px;
  font-weight: 700;
}


.footer__container_list {
  list-style: none;
}

.footer__images {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
