.form_subscribe {
  margin-top: 2rem;
  position: relative;
  color: #CBD0D3;
}

.form_subscribe label {
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1rem;
}

.form_subscribe .form_row {

}

.form_subscribe input {
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  display: block;
  height: 1rem;
  width: calc(100% - 2.5rem);
  color: inherit;
  border: 0.0625rem solid currentColor;
  border-radius: 0.375rem;
}

.form_subscribe button {
  display: block;
  position: absolute;
  top: calc(0.125rem + 1rem);
  right: -0.125rem;
  border: none;
  border-radius: 0.25rem;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  background-color: transparent;
  background-image: url(../images/icons/icon_paperplane_white.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 1rem;
  text-indent: -999rem;
}

.form_subscribe button:hover {
  background-color: rgba(255,255,255,.2);
}

.form_subscribe p {
  margin-block-start: 1rem;
  margin-block-end: 0;
  font-size: 0.75rem;
}
