:root {
  --fourth-horizontal-padding: 1rem;
  --start-block-padd: 1rem;
  --end-block-padd: 3rem;
  --par-horizontal-padding: 2rem;
  --par-vertical-padding: 0.5rem;
  --margin-tablet-inline: 10%;
}

.section_header__important {
  font-weight: 800;
  padding-inline-start: var(--fourth-horizontal-padding);
  padding-block-start: var(--start-block-padd);
  padding-block-end: var(--end-block-padd);
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #ffff;
}

.fourth_lists__container {
  position: relative;
  z-index: 1;
  position: relative;
  padding: 0;
}

.fourth_section__article {
  padding-inline-start: var(--par-horizontal-padding);
  padding-inline-end: 1rem;
  padding-block-start: var(--par-vertical-padding);
  padding-block-end: var(--par-vertical-padding);
  font-weight: 900;
  font-size: 1.5rem;
  color: #ffff;
}

.section_four__image {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 50%;
}

.article_description {
  padding-inline-start: var(--par-horizontal-padding);
  padding-inline-end: 1rem;
  font-size: 1.25rem;
  color: #ffff;
}

@media (min-width: 768px) {
  .section_four__image {
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 50%;
    margin-inline-start: 10%;
  }
  .fourth_lists__container {
    position: relative;
    z-index: 1;
    position: relative;
    padding: 0;
    margin-inline-start: var(--margin-tablet-inline);
    margin-inline-end: 20%;
  }
  .article_description {
    margin-inline-start: var(--margin-tablet-inline);
  }
  .fourth_section__article {
    margin-inline-start: var(--margin-tablet-inline);
  }
  .section_header__important {
    margin-inline-start: var(--margin-tablet-inline);
  }
  .time_timing {
    margin-inline-start: var(--margin-tablet-inline);
  }
  .image_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
  }
  .image_container li:nth-of-type(3) {
    display: none;
  }
}
