.happening_now {
  position: relative;
}

.happening_now--information {
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: -1;
}

.more__explanation {
  color: #ffffff;
  padding-inline-start: 2rem;
  z-index: 1;
}

.info {
  margin-bottom: 2rem;
}

.more_info {
  margin-top: 2rem;
}
