.happening-now {
  background-color: aliceblue;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.happening__header2 {
  padding-block-start: 30px;
}

.article {
  position: relative;
  color: white;
  line-height: 1.75;
  position: relative;
}


.article__header {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding-block-start: 40px;
  padding-inline-start: 30px;
  position: relative;
}


.article__title {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
}

.article__article {
  position: relative;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
}

.article__duration {
  font-family: sans-serif;
  font-style: oblique;
  font-size: 13px;
  color: darkgray;
  position: relative;
  padding-block-end: 40px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
}


.article__image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;

}


.happening_images-container__pattern {
  padding-inline-start: 18px;
}

.happening_images-container__pattern {
  list-style: none;
}

.happening_images-container__patern--title {
  font-family: serif;
  font-size: 18px;
}

.happening_images-container__pattern--duration,
.link {
  font-family: sans-serif;
  font-style: oblique;
  font-size: 13px;
  color: darkgray;
  padding-block-end: 50px;
}

.pattern-image {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}





