.header {
  background-color: #f6f8f9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


.header__headings {
  color: #fa6980;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}
.navigation {
  padding: 1rem;
  background-color: #f8f8f8;
  position: absolute;
  top: 5rem;
  left: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, .25);
  transform: translateX(-110%);
  transition: 0.3s;
  padding-inline-start: 10rem;
  margin-inline-start: -3rem;
  padding-block-start: 7rem;
  padding-block-end: 1rem;
  z-index: 2;
}

.header__navigation--list--item + .header__navigation--list--item {
  margin-block-start: 1rem;
}

.header__navigation--list--item > a {
  text-decoration: none;
  color: #FA6980;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding-block-end: 4rem;
  margin-block-start: -5rem;
  margin-inline-start: -4rem;
}

.menu__input {
  margin-block-start: 3rem;
  margin-inline-start: 1rem;
}
.menu__input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  top: 1rem;
  left: 0;
 }

 .menu__input[type="checkbox"]:checked ~ .navigation {
    transform: translateX(0);
 }

 .menu__label {
  font-size: 1rem;
  margin-inline-start: -6rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-image: url(../css/icon-menu.svg);
  background-position: 63% 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
 }
 .ally {
   visibility: hidden;
 }


.image {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}



/* Tablet */
@media (min-width: 768px) {
  .header {
    padding: 1.25rem;
    background-color: #f6f8f9;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  .menu__label {
    display: none;
  }
  .header__headings {
    transform: translateX(-217px);
  }
}


