.introduction{
  position: relative;
  color: white;
  margin-inline-start: rem;
}

.image_1{
  width: 100%;
  height: 70%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  margin: 0;
  transform: translate(0, 0);
} 


.intro__heading {
  margin: 0;
  border-block-end: 2px solid;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  padding-block-start: 2rem;
  padding-block-end: 2rem;
}

.intro__subhead{
  margin: 0;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  padding-block-start: 2rem;
  padding-block-end: 2rem;
}
.intro__text{
  margin: 0;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  padding-block-start: 2rem;
  padding-block-end: 2rem;
}

.homepage li{
  padding-block-start: 2rem;
  padding-block-end: 2rem;
  list-style: none;
} 

.link{
  color: white;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.intro__link--link{
  line-height: 25px;
  list-style: none;
  display: block;
  text-decoration: none;
  background: rgb(231, 63, 91);
  padding: 15px;
  z-index: -1;
  color: white;
  width: 115px;
  height: 25px;
}

/* body> header > img{
  position: absolute;
  width: 100%;
  height: 100%;
} */