body > [type = checked]checked ~ nav {
  transform : translet X( 0)
}

.home {
  background-image: url(../icon/home.svg);
}
.discovery {
  background-image: url(../icon/discovery.svg);
}
.photo {
  background-image: url(../icon/photos.svg);
}
.contact {
  background-image: url(../icon/contact.svg);
}
.navigation_first {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-110%);
  transition: transform .2s;
  box-shadow: 0px 0px 50px rgba(0,0,0,.25);
  z-index: 1;
  background-color: #f6f8f9;
  padding-inline-start: 2rem;
  width: 290px;
  padding-block-start: 1rem;
 }
.checkbox_input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.incon-menu {
  background-color: blueviolet;
    font-size: 1rem;
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem;
    font-weight: 700;
    border-radius: 0.25rem;
    position: relative;
    color: white;
    padding-inline-end: 3rem;
}

[type="checkbox"]:checked ~ .navigation_first {
  display: block;
}

[type="checkbox"]:checked ~ .label_span--menu::before {
  border-color: transparent transparent currentColor transparent;
  border-style: solid;
  border-width: 0 0.5rem 0.6rem 0.5rem;
}
