body > header > label{
display: block;
width: 1rem;
height: 1rem;
list-style: none;
text-decoration: none;
}

body > [type="checkbox"] {
width: 1rem;
height: 1rem;
} 

body > nav {
padding: 1rem;
position: absolute;
top: 0;
left: 0;
width: 290px;
}

body > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(../images/menu-button.svg);
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
} 

.profile_image{    
  position: absolute;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}


/*tablet*/
@media(min_width: 768px) {
  /hide menu icon and profile link*/
  body 
}