:root {
  --font-weight-of-head: 700;
}

.header {
  font-weight: var(--font-weight-of-head);
}

.heading3 {

}

.heading2 {
  text-transform: uppercase;
}

.world-news_header {
  border-bottom: white solid;
}

.world-news_content {}

.heading4 {
  color: #fa6980;
  font-weight: 700;
  text-transform: uppercase;
}

.heading5 {
  color: #202124;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  padding-inline-start: 2rem;

}

.heading2--more-news {
  border-bottom: #a6adb4 solid;
}

.contonaire {
  background-color: #f6f8f9;
}

.picture_description>img {
  border-radius: 3px 3px 0 0;
  margin-bottom: 0;
}

.picture_description3>img {
  border-radius: 3px 3px 0 0;
  padding-inline-start: 2px;
  padding-inline-end: 2rem;
}
