:root {
  --nav-gap-padding: 1rem;
}
.navigation {
  position: absolute;
  top: 5rem;
  bottom: 0;
  left: 0;
  width: 280px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
  background-color: #eee;
  z-index: 3;
}
.site_header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.site_header__logo__link {
  text-decoration: none;
  color: #fa6980;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
}
input {
  display: none;
}
.site_header__menu__link {
  text-decoration: none;
}
.site_header__profile__link {
  text-decoration: none;
}
.site_header__profile__image {
  border-radius: 1rem;
}
.site_header__profile__text {
  display: none;
}
.navigation__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.navigation_link__item {
  list-style: none;
  padding-inline-start: var(--nav-gap-padding);
  padding-inline-end: var(--nav-gap-padding);
  padding-block-end: var(--nav-gap-padding);
  padding-block-start: var(--nav-gap-padding);
  font-size: 1rem;
}
body > nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: #aaa;
  font-weight: 600;
}
.navigation__link--home {
  color: black;
}
label {
  display: block;
  cursor: pointer;
  padding-inline-start:1rem;
  padding-inline-end: 1rem;
  padding-block-start: 1rem;
}

input:checked ~ nav {
  display: none;
  transform: translateX(-375px);
  width: 1rem;
  height: 10rem;
  transition: transform .2s ease-in;
}
body > [type="checkbox"]:checked  ~ label {
  transform: translateX(0);
}
/* Tablet */
 @media (min-width: 768px) {
  body > header > label,
  body > header > p {
    display: none;
  }
  body > header {
    padding: 1.25rem;
  }
  .site_header__logo__link {
    padding-inline-start: 1.5rem;
  }

  .navigation {
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  box-shadow: none;
  background-color: none;
  z-index: none;
}
  .navigation__container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: right;
  }
  body > nav {
    padding: 0;
    background-color: transparent;
    top: 0;
    bottom: auto;
    width: auto;
    box-shadow: none;
    transform: none;
    line-height: 1rem;
    left: auto;
    right: 0;
    position: 0;
  }
  body > nav ul a {
    padding: 0;
  }
  input {
    display: none;
  }
  .site_header__profile__text__span {
    display: none;
  }
}
