body {
  max-width: 375px;
}
body > header {
  background-color: rgb(246, 248, 249);
}
header h1 {
  background-color: rgb(246, 248, 249);
  text-align: center;
  color: rgb(73, 147, 197,0.5);
  text-transform: uppercase;
}
body > header img {
  width: 16px;
  height: 24px;
  border-radius: 50px;
}

