.navigation {
  display: flex;
  flex-direction: row;
  background-color: #f6f8f9;
}
.navigation__menus {
  flex-grow: 1;
}

.navigation__menus__woman-profile{
width: 16px;
height: 24px;
border-radius: 50% 50%;
}

.navigation__menus--transform {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;

}
