
.social__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  list-style: none;
  padding-inline-end: 5rem;
  margin-inline-start: -2rem;
}

.social__list_items {
  margin-inline-end: 1rem;
}

.social__link {
  text-decoration: none;
  color: lightgrey;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.instagram {
  background-image: url(../images/instagram.svg);
}

.twitter {
  background-image: url(../images/twitter.svg);
}

.facebook {
  background-image: url(../images/facebook.svg);
}

.web {
  background-image: url(../images/web.svg);
}
