
.social__container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  list-style: none;
  padding-inline-start: 1rem;
}


.social__link--span {
  visibility: hidden;
}

.social__link {
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.instagram {
  background-image: url(../images/instagram.svg);
}

.twitter {
  background-image: url(../images/twitter.svg);
}

.facebook {
  background-image: url(../images/facebook.svg);
  margin-inline-start: -2rem;
}

.web {
  background-image: url(../images/web.svg);
  margin-inline-start: -0.5rem;
}

@media (min-width: 768px) {
  .social__container {
  margin-inline-start: 30rem;
  margin-inline-end: 5rem;
  margin-block-start: 5rem;
  }
}
