 body > nav .icon {
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 1rem 1.5rem;
}

.home {
  background-image: url(../../docs/icon-home.svg);
}

.contact {
  background-image: url(../../docs/icon-contact.svg);
}

.discovery {
  background-image: url(../../docs/icon-discovery.svg);
}

.photos-menu {
  background-image: url(../../docs/icon-photos.svg);
}

body > nav [href="/profile"] {
  padding-inline-start: 1rem;
}

body > nav span {
  visibility: visible;
}

body > nav .profile {
  margin-inline-end: 1rem;
}

/* tablet*/

@media (min-width: 768px) {
  body > nav .icon {
    background-image: none;
    margin: 0;
  }

  body > nav ul {
    margin-block-end: 0;
  }

  body > nav span {
    display: none;
  }

  body > nav a {
    padding-inline-start: 0;
  }

}
