.navigation__link {
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 1rem;
  padding-inline-start: 3rem;
}

.home {
  background-image: url(../images/icon_home.svg);
}

.discovery {
  background-image: url(../images/icon_discavery.svg);
}

.contact {
  background-image: url(../images/icon_contact.svg);
}

.photos {
  background-image: url(../images/icon_photos.svg);
}

.profile {
  background-image: url(../images/pattern-10.jpeg);
}
