.heading__image {
  width: 100vw;
  height: 100%;
}

.trending__image {
  width: 100vw;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.curent-news__images {
  width: 100vw;
  height: 100%;
  border-radius: 5px;
}

.curent-news__posted-images {
  width: 100vw;
  height: 100%;
  border-radius: 5px;
}
