.mountain-img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.trending__img {
  width: 100%;
}

.beach__img {
  width: 100%;
}
.bridge--img {
  width: 100%;
  /* height: 50%; */
  object-fit: contain;
}
.elephant--img {
  width: 100%;
}
.trees--img {
  width: 100%;
}
.road--img {
  position: relative;
  width: 100%;
  height: 50%;
}
.forest--img {
  position: relative;
  object-fit: cover;
  width: 100%;
}
