
.trending__img {
  width: 100%;
}

.beach__img {
  width: 100%;
}

.sections__city {
  position: relative;
  color: white;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  z-index: 1;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

.city__description--image > img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.sections__travel {
  position: relative;
  color: white;
  padding-block-end: 1rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1rem;
  z-index: 1;
  margin-inline-end: 1rem;
  margin-inline-start: 1rem;
}
.travel__description--image > img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.sections__elephant__image {
  margin-inline-end: 1rem;
  margin-inline-start: 1rem;
}
.elephant--img {
  width: 100%;

}

.sections__tree__image {
  margin-inline-end: 1rem;
  margin-inline-start: 1rem;
}
.trees--img {
  width: 100%;
}

.sections__road__image {
  margin-inline-end: 1rem;
  margin-inline-start: 1rem;
}
.road--img {
  width: 100%;
}

small {
  background-image: url(../css/clock.svg);
  background-repeat: no-repeat;
  padding-inline-start: 1.5rem;
  background-position-y: -1px;
}
.arrow__class {
  background-image: url(../css/arrow-back.svg),
                    url(../css/arrow-ahead.svg);
  background-repeat: no-repeat;
  background-position: right -20px top 2px;
}
