
.trending__img {
  width: 100%;
}

.beach__img {
  width: 100%;
}
.bridge--img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  margin-inline-start: -3.2rem;
  margin-block-end: 16rem;
}
.elephant--img {
  width: 100%;
  margin-block-start: 9rem;
}
.trees--img {
  width: 100%;
}
.road--img {
  width: 100%;
}
.forest--img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  margin-inline-start: -3.2rem;
}
