.information {
  background-color: rgb(246, 248, 249);
  padding-block-start: 1rem;
  padding-inline-end: 1rem;
  padding-inline-start: 32px;
}

.information__list--image {
  max-width: 327px;
  min-height: 154px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
