.world-news_content {
  position: relative;
  color: white;
  padding-inline-start: 1.5rem;
  padding-block-start: 2.375rem;
  padding-block-end: 2.375rem;
  padding-inline-end: 1.5rem;
  background-color: rgba(0,0,0,0.2);
}
.trending_content {
  padding-inline-start: 1.5rem;
  padding-block-start: 2.375rem;
  padding-block-end: 2.375rem;
  padding-inline-end: 1.5rem;
  background-color:#f6f8f9;
  position: relative;
  z-index: -1;
}
.navigation {
  position: relative;
  color: white;
  padding-inline-start: 1.5rem;
  padding-block-start: 2.375rem;
  padding-block-end: 2.375rem;
  padding-inline-end: 1.5rem;

}

.world-news_content header > :first-child {
  margin-block-start: 0;
  border-bottom: white solid;
  padding-bottom: 40px;
}

.picture_of_description {
  margin: 0;
  position: absolute;
  z-index: -1;
  top: 50%;
  height: 100%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.picture_of_description > img {
  object-fit: cover;
  width: 100%;
  height: 100%;

}
.heading4--pattern5 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;

}
.heading4--pattern6 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.picture_of_description > img
.heading_section--description {
  border-bottom: white solid;
  padding-bottom: 2rem;
}

.nav_list_item_description--link {
  background-color:#fa6970;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  border-radius: 6px;
  width: 151px;

}

.nav_list_item_description--link > a{
  text-decoration: none;
  color: wheat;
  padding-inline-start: 36px;
}
.navigation_unoder_list--heading4 {
  color: #fa6980;
  text-transform: uppercase;
}
.navigation_unoder_list--heading5 {
  color: #202124;
}

.navigation_unoder_list--description--article {
  color: #a6adb4;
}
.nav_trending--unorder-list{
  padding-inline-start: 2px;
}

.list_item {
  list-style: none;
}

.picture_description > img{
  width: 100%;
  height: 200px;
  border-radius: 6px 6px 0 0;
}
.heading4--pattern5 {
  margin: 0;
  position: absolute;
  z-index: -1;
  top: 50%;
  height: 100%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading4--pattern6 {
  margin: 0;
  position: absolute;
  z-index: -1;
  top: 50%;
  height: 100%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-4 {
  padding-block-end: 60px;
}

.heading4{
  text-transform: uppercase;
  line-height: 3;
}

.heading3--layout {
  font-size: 24px;
}
.pattern-decsription> img{
  border-radius: 10px;
  width: 100%;
  height: 200px;
}
.pattern-decsription + h5 + p {
   color: #a6adb4;
}
.section2 {
  padding-inline-start: 1.5rem;
  padding-block-start: 2.375rem;
  padding-block-end: 2.375rem;
  padding-inline-end: 1.5rem;
}
.nav_unorder_list {
  padding-inline-start: 2px;
}
.section2 > header > h2 {
  border-bottom:#a6adb4 solid;
  padding-bottom: 40px;
}
