.heading {
  position: relative;
  color: #ffffff;
  margin: 0;
}

.heading__h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  border-bottom: solid 3px #ffffff;
  padding-block-end: 1rem;
  padding-inline-start: 1rem;
}

.heading__paragraph {
  position: absolute;
  top: 8rem;
  left: 1.5rem;
}

.heading__paragraph__link {
  position: absolute;
  left: 1.5rem;
  bottom: 2rem;
}

.heading__h2 {
  position: absolute;
  top: 4rem;
  left: 1.5rem;
}


