.navigation__header {
  color: #fa6980;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-block-end: 4rem;

}

.menu__input {
  margin-block-start: 3rem;
  margin-inline-start: 1rem;
}

.menu__input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  top: 1rem;
  left: 0;
 }

 .menu__label {
  font-size: 1rem;
  margin-inline-start: -6rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-image: url(../images/icon_menu.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
 }

 span {
   visibility: hidden;
 }

 .navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-110%);
  transition: transform .2s;
  box-shadow: 0px 0px 50px rgba(0,0,0,.25);
  z-index: 1;
  background-color: #f6f8f9;
  padding-inline-start: 2rem;
  width: 290px;
  padding-block-start: 1rem;
 }

 .navigation__container {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: flex-start;
 }

 .navigation__link {
  display: block;
  color: #343638;
  text-decoration: none;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.5;
  margin-block-end: 2rem;
 }

 /*Create default state: closed / unchecked */
.menu__label::before {
  transition: border .3s;
}

/*Create alternative state: open /checked */

[type="checkbox"]:checked ~ .navigation {
  transform: translateX(0);
}

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.navigation__heading {
  color: #fa6980;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  body > .navigation {
    position: absolute;
    top: 0;
    bottom: auto;
    left: auto;
    right: 0;
    padding: 0;
    transform: none;
    transition: none;
    box-shadow: none;
    background-color: transparent;
    width: auto;
  }
  body > .navigation > .navigation__container {
   flex-direction: row;
  }

  body > nav > h1 {
    display: none;
  }
  body > nav > ul .navigation__link {
    padding: 1.25rem;
    background-color: none;
    background-image: none;
    padding-block-end: 0;
  }

  body > nav > ul li {
    margin-block-start: 1rem;
  }
   .image {
     margin-inline-start: 2rem;
     margin-block-end: 2.5rem;
     margin-block-start: -4rem;
     margin-inline-end: 1rem;
   }

  span {
    visibility: hidden;
  }

}
