.more_news {
  padding-block-start: 420px;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}

.more_news__heading {
  border-bottom: lightgrey 2px solid;
  padding-block-end: 2rem;
}

.more_news__container {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 2rem;
}

.more_news__list_items--heading {
  font-weight: 700;
  color: #fa6980;
  text-transform: uppercase;
}
.more_news__article {
  font-weight: 700;
  color: #202124;
}
.more_news__list_items--description {
  color: #a6adb4;
}

.more_news__list_items {
  margin-block-end: 3rem;
}

@media (min-width: 768px) {
  .more_news__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
  }

  .more_news {
    padding-block-start: 460px;
    padding-inline-start: 5rem;
    padding-inline-end: 5rem;
  }
}

