.more_news {
  background-color: #ffffff;
  padding-block-start: 2rem;
  padding-inline-start: 1.5rem;
}

.more__news-information {
  border-bottom: solid 1px;
}

.details {
  color: #fa6980;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.more_details {
  padding-inline-start: 1rem;
  background-color: #ffffff;
}
.article_title {
  font-weight: 700;
}

.more_explanation {
  color: #a6adb4;
}
