.more__news {
  list-style: none;
  margin-block-start: 2rem;
}
.more__news_article--head1 {
  padding-block-end: 2rem;
  border-bottom: darkgray 1px solid;
  font-size: 24px;
  text-transform: uppercase;
}
.more__news_article--button::after {
  content: "" ;
  background-image: url("../images/blackarrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  display: block;
  width: 20px;
  height: 20px;
}

.more__news_article--button::before {
  content: "" ;
  background-image: url("../images/greyarrow.svg");
  background-repeat: no-repeat;
  background-position: left;
  display: block;
  width: 20px;
  height: 20px;

}
.link_button {
  visibility: hidden;
}

.more__news_article--head2 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color:  rgb(250,105, 128);
}
.more__news_article--head3 {
  font-size: 16px;
  font-weight: 700;
}
.more__news_article--text {
  margin: 0;
  color: darkgray;
  font-size: 16px;
  line-height: 29px;
}
.time::before {
  content: "";
  padding-inline-end: 1rem;
}

