.more-news {
background-color: #ffffff;
}

.more-news header{
  border-bottom: 2px solid #eeeeee;
  margin: 2rem;
}

.more-news h3 {
text-transform: uppercase;
}

.more-news li {
  list-style: none;
}

.more-news a {
  text-decoration: none;
  color: #fa6980;
}

.more-news p {
  color: #a6adb4;
}
