.menu-responsive__list-item {
  font-size: 11px;
  font-weight: 700;
}

.menu-responsive__list-item__link {
  color: #343638;
  text-transform: uppercase;
}

.navigation_menu-responsive {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -280px;
  width: 250px;
  z-index: 1;
  background-color: white;
}

.menu-checkbox:checked ~ .navigation_menu-responsive {
  position: absolute;
  top: 3.5rem;
  bottom: 0;
  left: 0;
  width: 250px;
  z-index: 1;
  background-color: #f6f8f9;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
}

.menu-checkbox {
  display: none;
}

.navigation_menu-responsive__homepage {
  padding-inline-start: 2rem;
  padding-block-end: 5rem;
}

.menu-responsive {
  margin: 0;
}

.menu-responsive__list-item___homepage-menu {
  width: 1rem;
  height: 1rem;
}

.menu-responsive__list-item__span {
  padding-inline-start: 2rem;
}

.menu-responsive__list-item {
  padding-block-end: 2rem;
}

.menu-responsive__list-item__link {
  color: gray;
}

.menu-responsive__list-item--link__home {
  color: #000;
}

.navigation_menu-responsive a {
  text-transform: uppercase;
}

.navigation_menu-responsive__heading {
  margin: 0;
  padding-block-start: 2rem;
}

.navigation_menu-responsive__heading--link {
  color: #fa6980;
  font-size: 11px;
  font-weight: 700;
  margin: 0;
}


@media (min-width: 768px) {
  .navigation_menu-responsive {
    display: flex;
    justify-content: space-between;
    width: auto;
    position: absolute;
    padding: 0;
    right: 0;
    left: auto;
    top: 0;
    bottom: auto;
    margin: 0;
    padding-block-start: 1.5rem;
  }

  .navigation_menu-responsive {
    position: initial;
    top: 0;
    bottom: 0;
    left: 0;
    width: auto;
    z-index: 0;
    background-color: inherit;
  }

  .menu-checkbox:checked ~ .navigation_menu-responsive {
    display: none;
  }

  .menu-responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block-end: 1rem;
  }

  .navigation_menu-responsive__heading {
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 2rem;
    padding-inline-end: 0;
    font-size: 13px;
  }

  .menu-responsive__list-item {
    padding: 0;
  }

  .menu-responsive__list-item__span {
    padding: 0;
  }

  .menu-responsive__list-item__link {
    padding: 1.25rem;
    line-height: 1.25rem;
  }

  .responsive-mobile {
    display: none;
  }

  .menu-responsive__list-item___homepage-menu {
    display: none;
  }

  .responsive-mobile__heading--image-profile {
    display: initial;
  }

  .profile_span {
    display: none;
  }

}
