
.sections__navigation__list {
  text-decoration: none;
}
ul {
  list-style: none;
  text-decoration: none;
}


@media (min-width:768px) {
  .navigation {
  padding: 1rem;
  background-color: #f8f8f8;
  top: 0;
  right: 0;
  left: auto;
  bottom: auto;
  width: auto;
  box-shadow: none;
  transform: none;
  transition: none
  }
  body> header > ul {
    flex-direction: row;
  }
  body > header > ul .icon {
    padding: 1.25rem;
    background-image: none;
    line-height: 1.25rem;
  }

}


