
.dropdown_trigger {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border-radius: 0.25rem;
  background-image: url(../image/menu.svg);
  background-size: 1rem;
  background-repeat: no-repeat;
}

 body > nav {
  position: absolute;
  padding: 1rem;
  background-color: #f8f8f8;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  transform: translate(-110%);
  transition: transform 0.3s;
  z-index: 1;
}


body > nav .list__menu_dropdown li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
}


nav a {
  text-decoration: none;
  line-height: 3rem;
}

nav > header > h1 {
  text-transform: uppercase;
  color: #fa6890;
  font-size: 20px;
  font-weight: 700;
}

.contents_menu-home {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #343638;
  background-image: url(../image/home.svg);
  background-repeat: no-repeat;
  background-position: left;
  padding-inline-start: 3rem;
}

.contents_menu {
  opacity: 0.5;
  font-size: 15px;
  color: #343638;
}

.discover {
  background-image: url(../image/discovery.svg);
  background-position: left;
  background-repeat: no-repeat;
  padding-inline-start: 3rem;
}
.photo {
  background-image: url(../image/photo.svg);
  background-position: left;
  background-repeat: no-repeat;
  padding-inline-start: 3rem;
}
.contact {
  background-image: url(../image/contact.svg);
  background-position: left;
  background-repeat: no-repeat;
  padding-inline-start: 3rem;
}
.profile {
  background-image: url(../image/profile_menu.jpeg);
  background-position: left;
  background-size: 1rem;
  background-repeat: no-repeat;
  padding-inline-start: 3rem;
}



@media (min-width: 768px) {

 body > nav {
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: auto;
  bottom: auto;
  width: auto;
  box-shadow: none;
  transform: none;
  transition: none;
}
 body > nav > ul a /*.icon*/{
padding: 1.25rem;
background-image: none;
 }
}
