
.sections__image {
  text-decoration: none;
}

@media(min-width: 768px) {
  body > .navigation {
    padding: 1rem;
    position: absolute;
    top: 0%;
    left: 50%;
    width: auto;
    box-shadow: none;
    background-color: transparent;
  }
  body > nav .navigation__header {
    display: flex;
    flex-direction: row;
  }

  .header__navigation--list--item {
    list-style: none;
    margin-inline-end: 1rem;
  }
  .image {
    position: relative;
    bottom: 1.5rem;
    width: 2rem;
    height: 2rem;
    margin-inline-start: 0;
  }
  body > .navigation > .navigation__header > a {
    padding: 1.25rem;
    background-image: none;
    line-height: 1.25rem;
    font-size: 11px;
  }
  }
