.navigation {
  list-style: none;
  padding: 16px;
}
.navigation a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #a6adb4;
  font-size: 11px;
}
.nav_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -280px;
  width: 250px;
  z-index: 1;
  background-color: white;
  padding: 16px;
}
.container {
  padding-block-start: 50px;
  padding-inline-start: 0;

}
.navigation__logo > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: rgb(255, 0, 0);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.container, .navigation__paragraph {
  margin: 0;
}
.navigation__home a {
  color: black;
}
.navigation__image {
  border-radius: 50%;
}
.navigation_image, .navigation__image {
  width: 16px;
  height: 16px;
  margin-inline-end: 16px;
}
[type="checkbox"] {
  display: none;
}
[type="checkbox"]:checked ~ .nav_container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 250px;
  z-index: 1;
  background-color: #f6f8f9;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
}
.navigation_profile {
  margin: 0;
}
