nav {
  display: flex;
  flex-direction: column;
  white-space: break-spaces;
  background-color: rgb(246, 248, 249);
  width: 287px;
  height: 812px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 20px 20px 30px grey;
  transform: translateX(-150%);
}

nav > h1 > a {
  padding-inline-start: 2.5rem;
  color:rgb(250, 105, 128);
  opacity: 1;
  text-transform: uppercase;
  text-decoration: none;
  padding-inline-start: 2.5rem;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: rgb(166, 173, 180);
  text-transform: uppercase;
  font-size: 12px;
}

body > [type="checkbox"]:checked ~ nav {
  display: block;
  transform: translateX(0%);
  transition: transform .3s ease-in;
}

nav li > a:visited {
  color: #000000;
}

input {
  position: absolute;
  /*
  z-index: 3;
  opacity: 0;
*/
}

li a[href="/"] {
  background-image: url("../css/icon/home-icon.svg");
}

li a[href="/dicovery"] {
  background-image: url("../css/icon/discovery-icon.svg");
}

li a[ href="/photos"] {
  background-image: url("../css/icon/photos-icon.svg");
}

li a[ href="/contact"] {
  background-image: url("../css/icon/contact-icon.svg");
}

nav li:nth-of-type(5) {
  display: flex;
  opacity: 0.5;
}

nav img {
  margin-inline-end: 1.5rem;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

li a[href="/"],
li a[href="/dicovery"],
li a[ href="/photos"],
li a[ href="/contact"] {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  background-size: contain;
  padding-inline-start: 2.5rem;
  opacity: 0.5;
}

li a[href="/"]:active,
li a[href="/dicovery"]:active,
li a[ href="/photos"]:active,
li a[ href="/contact"]:active,
nav li:nth-of-type(5):active {
  opacity: 1;
}

@media(min-width: 768px) {
  body > nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: auto;
    padding: 1rem;
    background-color: transparent;
    box-shadow: none;
    transform: none;
    transition: none;
  }

 label + h1 {
  display: none;
  }

  body > nav > ul {
    display: flex;
    flex-direction: row;
  }

  body > nav > ul a {
    padding: 1.25rem;
    background-image: none;
    line-height: 1.25;
  }

  nav img {
    display: none;
  }

  #profile-link a {

  }
}

