.news {
position: relative;
color: #ffffff;
padding: 3rem;
background-color: rgba(0, 0, 0, 0.2);
text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.news img {
object-fit: cover;
position: absolute;
top: 50%;
left: 50%;
z-index: -1;
width: 100%;
height: 100%;
transform: translate(-50%, -50%);
}

.news h3,
.news p {
  padding-inline-start: 1rem;
}

.news .learn-more {
  background-color: #fa6980;
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  font-size: x-small;
}

.news h3 {
  font-size: 24px;
  font-weight: 700;
}


.news header {
  border-bottom: 2px solid #ffffff;

}

@media (min-width: 768px) {
  .news {}
}
