.photos {
background-color: #f6f8f9;
}

.photos img {
width: 100%;
height: 100%;
border-radius: 10px;
}

.photos li {
  list-style: none;
  margin-top: 2rem;
}

.photos ul {
  padding: 0;
}

.photos p {
  font-weight: 600;
  font-family: serif;
}

@media (min-width: 768px) {
  .photos {
    overflow: hidden;
  }

  .photos ul {
    display: flex;
    flex-direction: row;
  }

  .photos img {
    max-width: 284px;
    max-height: 180px;
  }

  .photos li {
    margin: 1rem 2rem;
  }

  .photos li:last-of-type {
    display: none;
  }
}
