.article_small-detail__best-nature__list-item {
  display: flex;
  flex-direction: column;
  padding-block-end: 2rem;
}

.article_small-detail__best-nature {
  margin: 0;
}

.article_small-detail__best-nature__images__figure {
  margin: 0;
  padding-inline-start: 1rem;
}

.article_small-detail__best-nature__images {
  order: 1;
}
.article_small-detail__best-nature_environment {
  order: 2;
  padding-inline-start: 1rem;
  margin: 0;
  padding-block-start: 1rem;
}

.article_small-detail__best-nature__list-item__subheading {
  font-size: 16px;
  font-weight: 700;
  color: #202124;
}

.article__little-detail__published-link {
  text-decoration: underline;
}
