#section_trending article {
  background-color: #fff;
}

#section_trending article:nth-of-type(2) + article {
  display: none;
}

@media (min-width: 768px) {
  #section_trending {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.5rem;
    column-gap: 2.5rem;
    max-width: 37.5rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  #section_trending article {
    margin-block-start: 0;
  }

  #section_trending > header {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
  }
}
