:root {
  --heading-padding: 2.5rem;
}
.article_heading {
  text-transform: uppercase;
  padding-inline-start: var(--heading-padding);
  padding-inline-end: var(--heading-padding);
  padding-block-start: var(--heading-padding);
  padding-block-end: var(--heading-padding);
  margin: 0;
}
.section {
  background-color: rgb(246, 247, 248);
}

