#section_more_news {
  background-color: #fff;
}

#section_more_news > header {
  padding-block-end: 2.5rem;
  border-bottom: 2px solid #EBEDED;
  margin-block-end: 2.5rem;
}

#section_more_news .article_title {
  margin-block-start: 0;
  margin-block-end: -0.625rem;
}

#section_more_news article p {
  color: #A6ADB4;
}

#section_more_news .category {
  margin-block-start: 0;
  margin-block-end: 1.25rem;
}

#section_more_news .category a {
  color: #FA6980;
}

@media (min-width: 768px) {
  #section_more_news {
    max-width: 37.5rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.5rem;
    column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    row-gap: 2.5rem;
    position: relative;
  }

  #section_more_news article {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  #section_more_news::after {
    content: "";
    display: block;
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  #section_more_news > header {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-block-end: 0;
  }
}
