 .information{
  margin-inline-start: 1rem;
}

.information_1{
  display: inline-block;
  padding-block-start: 20rem;
}

.description_1{
  position: relative;
  color: white;
}

.image_4{
  width: 100%;
  height: 95%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  margin: 0;
  transform: translate(0, 0);
} 

.destination_1 {
  position: relative;
  margin: 0;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  padding-block-start: 2rem;
  padding-block-end: 2rem;
}

.destination_header_1{
  position: relative;
  margin: 0;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  padding-block-start: 2rem;
  padding-block-end: 2rem;
}

.text_1{
  position: relative;
  margin: 0;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  padding-block-start: 2rem;
  padding-block-end: 2rem;
}
 

