.section_container {
  padding: 2.5rem 1.5rem;
}

.section_container > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block-end: 2rem;
}

.section_container > header > * {
  margin-block-start: 0;
  margin-block-end: 0;
}

.section_container article:not(.article_card) {
  margin-block-start: 2.5rem;
  margin-block-end: 2.5rem;
}

.section_container article:last-of-type {
  margin-block-end: 0;
}
