#section_featured article {
  padding-block-start: 2.5rem;
  padding-block-end: 2.5rem;
}

#section_featured .category {
  margin-block-start: 0;
  padding-block-end: 2.5rem;
  margin-block-end: 2.5rem;
  border-bottom: 2px solid currentColor;
  line-height: 1;
}

#section_featured footer {
  display: none;
}
