.small-title {
 border-radius: 5px;

}

.small_title__container {
  margin-inline-start: 0;
  list-style: none;
  padding-inline-start: 1rem;
  border-radius: 5px;
}

.small-title__heading {
  color: #202124;
  font-weight: 700;
  margin-block-start: 2rem;
}

.pattern-2 {
  margin-block-start: 2rem;
  border-radius: 5px;
  width: 100%;
}

.small-title__list_item--third {
  padding-block-end: 4rem;
}

.small-title__link {
  text-decoration: underline;
  color: #a6adb4;
}
