@media (min-width: 768px) {
  .header > h1 {
    color: transparent;
    background-color: transparent;
  }

  label {
    background-image: none;
  }

  body > .navigation {
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
    transform: none;
    box-shadow: none;
    background-color: transparent;
    width: auto;
    display: flex;
    padding: 0;
  }

  body > .navigation > .navigation__container {
    padding-block-start: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-end: 4rem;
    margin: 20px;
  }

  body > .navigation > .navigation__header {
    margin-inline-end: 20rem;
    margin-inline-start: 1rem;
    margin-block-start: 10px;
    padding-block-start: 1rem;
  }

  body > .navigation > .navigation__container > .navigation__list_item {
    padding-inline-start: 1rem;
  }

  body > .navigation > .navigation__container > .navigation__list_item > .home {
    padding: 0;
    background-image: none;
  }

  body > .navigation > .navigation__container > .navigation__list_item > .discovery {
    padding: 0;
    background-image: none;
  }

  body > .navigation > .navigation__container > .navigation__list_item > .photos {
    padding: 0;
    background-image: none;
  }

  body > .navigation > .navigation__container > .navigation__list_item > .contact {
    padding: 0;
    background-image: none;
  }

  body > .navigation > .navigation__container > .navigation__list_item > .profile {
    display: none;
  }

  .feature__more_news {
    margin-inline-start: 4rem;
    margin-inline-end: 4rem;
  }

  .article {
    columns: 2;
    margin: 2rem;
  }

  .article > .article__list > li:nth-of-type(2) {
    padding-block-start: 1rem;
  }

  .inform__trending {
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  .information {
    display: flex;
    justify-content: space-between;
    margin-block-start: 0;
    padding-inline-end: 1rem;
    padding-inline-start: 4rem;
  }

  .information__list--morbi {
    margin-bottom: 0;
  }

  .information__list {
    width: 284px;
  }

  .information__list--image {
    height: 180px;
    width: 284px;
  }

  .information__list--morbi_image {
    margin: 0;
  }

  .happening_now {
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }

  .happening__list--paragraph {
    padding-block-start: 12rem;
  }

  .last_article {
    columns: 2;
    padding-inline-end: 0;
    margin-inline-start: auto;
    margin-block-end: auto;
    padding-block-end: 5rem;
  }

  .small__list--first_image{
    padding-inline-start: 1rem;
  }

  .small__list--second_image{
    padding-block-start: 1.2rem;
  }

  .small__list--last_image {
    display: none;
  }

  .small__list--image_small {
    width: 284px;
    height: 180px;
  }

  .small__list--image1 {
    margin: 0;
  }

  .small__list--image2 {
    margin: 0;
  }
}
