.article_image {
  border-radius: 0.5rem;
}
.article_list__item2 {
  list-style: none;
  background-color: #ffff;
  border-radius: 0.5rem;
}
.image_container {
  margin-inline-start: 0;
}
@media (min-width: 768px) {
  .lists__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
  }
}
