.trending {
  background-color: rgb(246, 248, 249);
  margin-block-start: 2rem;
  padding-block-start: 1rem;
}

.trending__heading {
  margin: 0;
}

.trending__news__list {
  list-style: none;
  position: relative;
}

.trending__news {
  padding: 0;
}

.trending__image {
  margin-block-start: 3rem;
}

.section__trending {
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
}


/* Tablet */

@media (min-width: 768px) {
  .section__trending {
    max-width: 768px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    display: grid;
    grid-template-columns: repeat(2, calc(668px / 2));
    grid-column-gap: 16px;
    column-gap: 16px;
  }
  .section__trending_1,
  .section__trending_2 {
    margin: 0;
  }

  .trending__image {
    margin: 0;
    height: 12rem;
  }

}
