#trending {
  background-color: #f6f8f9;

}

#trending .sharing-news-navigation__description-lists__list {
  background-color: #fff;
  margin-inline-end: 2rem;
}
.sharing-news-navigation__trending-image {
  min-width: 100%;
  height: 30%;
}

#trending .sharing-news__explanation,
#trending .sharing-news__explanation--period,
#trending .sharing-news__titles__sub-title1 {
  margin-inline-start: 2rem;
}
