.world-news {
  margin-inline-end: 10px;
  margin-block-start: 40px;
  color: white;
  position: relative;
}

.news {
  position: relative;
}

.world-news__list {
  list-style: none;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.65;
}


.world-news__header {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-block-end: 2px white solid;
}

.world-news__list--place-to-visit {
  font-size: 24px;
  font-weight: bold;
  padding-block-start: 40px;
}


.world-news__list--learn-more {
  background-color: rgb(250, 105, 128);
  border-radius: 4px;
  padding-inline-start: 24px;
  padding-block-start: 7px;
  padding-block-end: 10px;
  margin-block-start: 15px;
  max-width: 110px;
}

.world-news__list--learn-more a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.world-news__image {
  width: 100%;
  height: 100%;
  position: absolute;
}
