.header {
  display: flex;
}

.header > .list-header > ul {
  list-style: none;
  display: flex;
  margin-block-start: 5px;
  padding-inline-start: 11rem;
}

.header > .list-header > ul > li {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  padding-inline-end: 1.5rem;
  text-transform: uppercase;
  float: left;
}

.header > .my-profile {
  display: flex;
  text-align: right;
  padding-inline-start: 20rem;
}

.header > .my-profile > p {
  margin: 0;
}

.header > .my-profile > h2 {
  margin: 0;
  padding-inline-start: 1rem;
}
