header {
  display: flex;
}

header > h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 1rem;
  margin-inline-end: 0;
}

header > ul {
  list-style: none;
  margin-inline-start: 11.5rem;
}

header > ul > li {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  padding-inline-end: 1.5rem;
  text-transform: uppercase;
  float: left;
}
