#foot {
  border-top: 1px solid gray;
  padding-inline-start: 93px;
  margin-left: 150px;
}

#foot .request_demo {
  width: 140px;
  height: 40px;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  border: 0;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

#foot .learn_more {
  width: 96px;
  height: 40px;
  background-color: #F063B8;
  border-radius: 20px;
  border: 0;
}

#foot .learn_more a {
  color: #ffffff;
}

#foot header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline-end: 243px;
  margin-inline-start: 40px;
  margin-block-start: 50px;
}

#foot header nav button{
  margin: 0.5rem;
}

#foot header h3 {
  width: 405px;
  height: 52px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #212353;
}

#foot header p {
  width: 584px;
  height: 29px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #4B5D68;
}

#foot ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  font-weight: 900;
  font-size: 16px;
  column-gap: 5rem;
  margin-inline-end: 270px;
  color: #212353;
  margin-block-start: 153px;
}


#foot ol {
  list-style: none;
  font-weight: normal;
  padding-left: 0;
  padding-top: 2rem;
  font-size: 16px;
  line-height: 40px;
  color: #212353;
}

#foot ul button:first-of-type {
  width: 20px;
  height: 20px;
  background: #9C69E2;
  border-radius: 20px;
  border: 0;
}

#foot ul button:nth-of-type(2) {
  width: 20px;
  height: 35px;
  background: #F063B8;
  border-radius: 20px;
  border: 0;
}

.social_media li {
  display:inline;
  padding-left: 14px;
}

#foot footer {
  display: flex;
  justify-content: space-between;
  padding-inline-end: 243px;
  margin-inline-start: 40px;
}

.datawarehouse {
  vertical-align: top;
  margin-block-start: -18px;
}

.datawarehouse ol .data {
  font-weight: 500;
}
