
.header > nav {
  margin-inline-start: auto;
  margin-block-start: 65px;
  margin-block-start: 145px;
}
.header > nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.header > nav > ul > li > a {
  color: #212353;
  text-decoration: none;
}

.header > nav > ul > li:nth-of-type(1) {
  margin-inline-end: 121px;
}

.header > nav > ul > li:nth-of-type(2) {
  margin-inline-end: 40px;
  color: #212353;
}

.header > nav > ul >
li:nth-of-type(2) a,
li:nth-of-type(6) a {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
}

.header > nav > ul >
li:nth-of-type(3) a,
li:nth-of-type(4) a,
li:nth-of-type(5) a {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
}

.header > nav > ul > li:nth-of-type(3) {
  margin-inline-end: 40px;
}

.header > nav > ul > li:nth-of-type(4) {
  margin-inline-end: 40px;
}

.header > nav > ul > li:nth-of-type(5) {
  margin-right: 40px;
}

.header > nav > ul > li:nth-of-type(6) {
  margin-left: 192px;
  width: 155px;
  height: 48px;
  border-radius: 2rem;
  background-color: whitesmoke;
  text-align: center;
  line-height: 3;
  margin-block-start: -15px;
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #212353;
}

h2 {
  font-size: 3rem;
  width: 400px;
  height: 180px;
  margin-block-start: 130px;
  font-family: black han sans;
  font-style: normal;
  color:  #212353;
}



