
.header > nav {
  margin-left: 225px;
  margin-top: 65px;
  margin-bottom: 145px;
}
.header > nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.header > nav > ul > li > a {
  color: black;
  text-decoration: none;
}

.header > nav > ul > li:nth-of-type(1) {
    font-family: Avenir;
    font-style: normal;
    font-size: 16px;
    margin-right: 40px;
}

.header > nav > ul > li:nth-of-type(2) {
  font-family: Avenir;
  font-style: normal;
  font-size: 16px;
  margin-right: 40px;
}

.header > nav > ul > li:nth-of-type(3) {
  font-family: Avenir;
  font-style: normal;
  font-size: 16px;
  margin-right: 40px;
}

.header > nav > ul > li:nth-of-type(4) {
  font-family: Avenir;
  font-style: normal;
  font-size: 16px;
  margin-right: 40px;
}

.header > nav > ul > li:nth-of-type(5) {
  font-family: Avenir;
  font-style: normal;
  font-size: 16px;
  margin-left: 418px;
  width: 210px;
  height: 60px;
  border-radius: 2rem;
  background-color: whitesmoke;
  text-align: center;
}

h2 {
  font-size: 4rem;
  margin-left: 240px;
  margin-right: 715px;
}

.part-1 > h2 ~ p {
  margin-left: 240px;
}

.part-1 > h2 ~ p ~ figure img {
  float: right;
}
