/*Set the link inside the header*/
body > header {
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  z-index: 3;
}

header > nav > ul >li{
  width: 120px;
  height: 60px;  
  left: 240px; 
  top: 50px;
}

header > nav > ul > li > a{
  text-decoration: none;
  margin-right: 65px;
  margin-top: 65px;
  margin-right: 40px;
  margin-left: 40px;
}

header > nav > ul > li:last-child{
  color: midnightblue;
  width: 210px;
  height: 60px;
  left: 1150px;
  top: 50px;
  background-color: whitesmoke;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 3rem;
  text-align: center;
  line-height: 3;
  margin-left: 40px;
}