.part-2 {
  background-image: url('../images/image2.png');
  background-position: left;
  background-repeat: no-repeat;
  background-color: pink;
  width: auto;
  height: auto;
  border-radius: 36px;
  margin-inline-start: auto;
  margin-block-start: 131px;
  margin-block-end: 172px;
}


.part-2 > p:first-child {
  font-family: helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  padding-inline-start: auto;
  padding-block-start: 135px;
  padding-block-end: 10px;
}

.part-2 > p {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  width: 343px;
}

.part-2 > p {
  margin-inline-start: auto;
  padding-inline-end: 93px;
  margin-block-start: 40px;
  padding-block-end: 125px;
  line-height: 1.75;
}

