.part-1 {
  background-image: url('../images/image1.png');
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: right 20% top 100%;
  margin-inline-start: 186px;
}

.part-1 > p {
  width: 258px;
  height: 120px;
  margin-block-start: 30px;
  margin-inline-start: 0;
}

.part-1 > p:last-of-type {
  background-color: purple;
  width: 150px;
  height: 56px;
  line-height: 3;
  border-radius: 38px;
}

.part-1 > p:last-of-type a {
  text-decoration: none;
  color: white;
  margin-left: 37px;
  margin-right: 37px;
  margin-bottom: 15px;
}
