.part-1 {
  background-image: url('../images/image1.png');
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: right 20% top 100%;
  margin-inline-start: initial;
}

.part-1 > p {
  width: 258px;
  height: 120px;
  margin-block-start: 30px;
  margin-inline-start: 0;
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  }


.part-1 > p:last-of-type {
  background-color: purple;
  width: 150px;
  height: 56px;
  line-height: 3;
  border-radius: 38px;
}

.part-1 > p:last-of-type a {
  text-decoration: none;
  color: white;
  margin-inline-start: 37px;
  margin-inline-end: 37px;
  margin-block-end: 15px;
  font-size: 14px;
}
