.part-4 {
  background-color: purple;
  border-radius: 51px;
  width: 1000px;
  height: 550px;
}

.part-4 h3 {
  margin-left: 93px;
  margin-bottom: 109px;
  color: white;
  font-family: helvetica;
  font-style: normal;
  font-weight: bold;
}


.part-4 .images {
  display: flex;
  flex-direction: row;
  margin-left: 93px;
}
