#section_testimonials {
  background-color: rgba(156, 105, 226, 1);
  border-radius: 5%;
  max-width: 100%;
  height: 600px;
  margin: auto;
  margin-block-start: 139px;
}

#section_testimonials h4{
  color: white;
  font-size: larger;
  height: 20px;
  padding-inline-start: 50px;
  padding-block-start: 70px;
}

#section_testimonials ul{
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

#section_testimonials ul > li {
  list-style: none;
}

.user_1 {
  background-image: url(../images/user-1.png);
  background-repeat: no-repeat;
  background-position: 0% 20%;
  background-color: white;
  height: 330px;
  width: 800px;
  padding-inline-start: 93px;
  padding-block-start: 50px;
  border-radius: 10%;

}

.user_2{
  background-image: url(../images/user-2.png);
  background-repeat: no-repeat;
  background-position: 0% 20%;
  background-color: white;
  height: 330px;
  width: 350px;
  padding-inline-start: 93px;
  padding-block-start: 50px;
  border-radius: 10%;
}

.user_3{
  background-image: url(../images/user-3.png);
  background-repeat: no-repeat;
  background-position: 0% 20%;
  background-color: white;
  height: 330px;
  width: 150px;
  padding-inline-start: 93px;
  padding-block-start: 50px;
  border-radius: 10%;
}
