body {
  font-family: 'Avenir',Arial, Helvetica, sans-serif;
}

.features h3{
  height: 52px;
  width: 504px;
  margin-left: 500px;
  margin-right: 590px;
  margin-top: -100px;
}

.features > header> p{
  height: 58px;
  width: 584px;
  text-align: center;
  margin-left: 250px;
  margin-right: 50px;
  }

.features {
  list-style: none;
  padding-block-start: 49px;
  padding-block-end: 33px;
  padding-inline-end: 50px;
  padding-inline-start: 102px;
  font-size: 16px;
  border-radius: 30px;
  position: relative;
  width: 300px;
  height: 200px;
  margin-inline-start: 4rem;
  
}

.features li > h4 , .features li > p, .features li > a {
  margin-inline-start: 6rem;
}

.features p {
  margin: 0;
  line-height: 1.6;
}

.features.more_link {
  height: 26px;
  margin-block-start: 20px;
}

.more_link a {
  color: grey ;
  font-weight: 700;
  text-decoration: none;
}

#feature_search_data{
  background-color: rgba(104, 201, 186,0.1);
}

#feature_search_data::before{
  background-image: url(../images/search-data.png);

}

#feature_hour_access {
  background-color: rgba(156, 105, 226,0.1);
  position: relative;
}

#feature_hour_access::before{
  background-image: url(../images/hours-access.png);

}

#feature_print_out {
  background-color: rgba(240, 99, 184,0.1);
}

#feature_print_out::before{
  background-image: url(../images/print-out.png);

}

#feature_security_code {
  background-color: rgba(78, 93, 104, 0.1);
}

#feature_security_code::before {
  background-image: url(../images/security-code.png);
  
}
.features ::before{
  background-repeat: no-repeat;
  position: absolute;
  top: 4rem;
  left: -6rem;
  width: 200px;
  height: 150px;
  content: '';
}


.features > ul {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  column-gap:400px;
  row-gap: 100px;
}
