header > h1 {
  width: 645px;
  height: 184px;
  left: 240px;
  font-size: 50px;
  font-style: normal;
  font-family:black han sans;
  display: flex;
  line-height: normal;
}

.section_1 p {
  width: 380px;
  height: 120px;
  margin-left: -6px;
  margin-top: -50px;
  color: darkblue;
}

.section_1 > header {
  background-image: url(../images/image-1-1.png);
  background-position: 90% 40%;
  background-repeat: no-repeat;
  width: 1248px;
  height: 754px;
  margin-left: 240px;
  margin-top: 50px;
  margin-right: 112px;
  /*width: 1542px;
  height: 550px;
  left: 500px;
  top: 400px;*/
  box-sizing: border-box;
}

p:nth-of-type(2) a {
  background-color: purple;
  width: 100%;
  height: 60%; 
  left: 240px;
  top: 644px;
  border-radius: 2rem;
}

.button-link {
  text-decoration: none;
  font-weight: bold;
  border-radius: 2rem;
  line-height: 3;
  color: white;
  text-align: center;
  line-height: 3;
}
