#about {
  background-image: url(../images/image-2.png);
  width: 477px;
  height: 504px;
  left: 251px;  
  margin-top: -99px;
  background-position: 0 100%;
  background-repeat: no-repeat;
}

#about{
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 10%;
  width: 970px;
  height: 500px;
  margin-left: 240px;
  margin-right: 243px;
  margin-top: -150px;
  margin-bottom: 125px;
}

#about h2 {
  width: 475px;
  height: 100px;
  margin-left: 500px;
  margin-top: 100px;
  font-family: Helvetica;
  position: absolute;
}

#about p {
  position: absolute;
  width: 400px;
  height: 300px;
  margin-left: 500px;
  margin-top: 200px;
  font-family: Helvetica, sans-serif;
  font-size: medium;
}


