body > main > header h1 {
  width: 645px;
  height: 184px;
  font-size: 50px;
  font-style: normal;
  font-family:black han sans;
  line-height: normal;
}

body > main > header p:nth-of-type(1) {
  width: 380px;
  height: 120px;
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
}

body > main > header {
  background-image: url(../images/image-1-1.png);
  background-position: 70% 30%;
  background-repeat: no-repeat;
  /*margin-top: 50px;
  margin-left: 240px;
  margin-right: 112px;
  width: 1248px;*/
  margin: auto;
  height: 754px;
}

/*.section_1 {
  margin-top: 336px;
  margin-left: 603px;
}*/

.button-link {
  background-color: rgb(197, 133, 197);
  width: 15%;
  height: 15%; 
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border-radius: 2rem;
  line-height: 4;
  color: white;
  text-align: center;
  box-sizing: border-box;
  /*margin-top: 50px;*/
}
