.section-3 > h3 {
  width: 150px;
  height: 50px;
  left: 635px;
  top: 1130px;
  font-family: Helvetica;
  position: absolute;
  font-weight: bold;
  font-size: 40px;
}

.section-3 {
  background-image: url(../images/search-data.png);
  background-repeat: no-repeat;
  width: 1137.28px;
  height: 1026px;
  left: 220px;
  top: 160px;
}

.section-3 > p{
  width: 500px;
  height: 50px;
  left: 500px;
  top: 500px;
}

