section:nth-of-type(2) {
  width: 1117px;
  height: 560px;
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  background-image: url(../images/image2.svg);
  background-repeat: no-repeat;
  background-size: 477px;
  margin-block-end: 149.82px;
  margin-left: 251px;
  margin-right: 243px;

}

section:nth-of-type(2) h2 {
  width: 475px;
  height: 100px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #212353;
  text-align: center;
  margin-left: 477px;
  padding-block-start: 125px;
}

section:nth-of-type(2) p {
  padding-top: 40px;
  width: 474px;
  height: 170px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #4B5D68;
  margin-left: 477px;
  padding-left: 2rem;
}
