header > h1 {
  width: 645px;
  height: 184px;
  left: 240px;
  font-size: 50px;
  font-style: normal;
  font-family:black han sans;
  display: flex;
  line-height: normal;
}

.section-1 p {
  width: 380px;
  height: 120px;
  left: 240px;
  top: 474px;
  color: darkblue;
}

.section-1 > header {
  background-image: url(../images/image-1-1.png);
  background-position: 50% 90%;
  background-repeat: no-repeat;
  width: 900px;
  height: 600px;
  left: 500px;
  top: 400px;
  box-sizing: border-box;
}

p:nth-of-type(2) a {
  background-color: purple;
  width: 100%;
  height: 60%; 
  left: 240px;
  top: 644px;
  border-radius: 2rem;
}

.button-link {
  text-decoration: none;
  font-weight: bold;
  border-radius: 2rem;
  line-height: 3;
  color: white;
  text-align: center;
  line-height: 3;
}
