.section-2 > header {
  background-image: url(../images/image-2.png);
  width: 477px;
  height: 504px;
  left: 251px;
  top: 935px;
  background-position: 0 100%;
}

.section-2{
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 10%;
  width: 1120px;
  height: 560px;
  
}

.section-2 h2 {
  width: 475px;
  height: 100px;
  left: 660px;
  top: 700px;
  font-family: Helvetica;
  position: absolute;
}

.section-2 p {
  width: 475px;
  height: 310px;
  left:670px ;
  top: 800px;
  position: absolute;
  font-family: Helvetica, sans-serif;
  font-size: medium;
  font-weight: 200;
}

