#testimonials {
  width: 1118px;
  height: 709px;
  background: #9C69E2;
  border-radius: 50px;
  margin-block-end: 50px;
  margin-block-start: 150px;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: 242px;
}

#testimonials h3 {
  width: 405px;
  height: 52px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #FFFFFF;
  padding-block-start: 109px;
  padding-inline-start: 93px;
}


#testimonials .test_list li {
  margin-block-start: 50px;
  margin-inline-start: 93px;
  padding-inline-start: 20px;
}

#testimonials h4,
#testimonials a,
#testimonials p {
  padding-inline-start: 190px;

}

#testimonials h4 {
  width: 170px;
  height: 29px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.005em;
  color: #212353;
}

#testimonials .test_list a {
  width: 101px;
  height: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #9C69E2;
}

#testimonials p {
  width: 385px;
  height: 130px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #4B5D68;
  padding-inline-end: 70px;
}

#testimonials .test_list li {
  width: 645px;
  height: 330px;
  background: #FFFFFF;
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 30px;
  position: relative;

}

#testimonials .test_list li:not(:first-of-type) {
  background: linear-gradient(270deg, #FFFFFF 100%, rgba(255, 255, 255, 0) 10%);
}

#testimonials img {
  position: absolute;
  top: 50px;
  left: 100px;
}

#testimonials .test_list {
display: flex;
list-style: none;
}

#testimonials footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline-start: 3rem;
  padding-inline-end: 3rem;
}

#testimonials footer div a {
  color: #FFFFFF;
}

#testimonials footer div:nth-of-type(2) {
  margin-top: 1rem;
  align-items: center;
}

#testimonials footer div:nth-of-type(2) a {
padding: 20px;
}

#testimonials footer div:nth-of-type(2) a:first-of-type {
  font-size: 30px;
  margin-top: 18px;
  vertical-align: middle;
}

#testimonials footer div ul {
  display: flex;

}

#testimonials footer div li {
  padding: 0.7rem;
  color: #FFFFFF;
}

#testimonials footer div li:first-of-type {
color: red;
}
