/* this css is only dedicated for the container-1 class and its contents in html document*/
body > header  h1 {
margin-inline-start: 2rem;
}

body > header  h2 {
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #FC7756;
  margin-block-start: 4rem;
  margin-inline-start: -13rem;
  transform: translatey(100%);
}

body > header nav li{
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

body > header {
  display: grid;
  grid-template-columns: 266px 298px;
  column-gap: 2rem;
}

header > nav ul {
  list-style: none;
  display: grid;
  grid-template-columns:123px 183px 175px 185px;
}

header > nav ul li:not(:last-of-type) {
  transform: translate(338px, -125px);
}

/*Taking the last li from its siblings to the right*/
body > header nav li:last-of-type {
  transform: translate(67rem, -9rem);
}

body > header nav > ul {
  position: relative;
}

body > header nav li:last-of-type::before {
  display: block;
  content: "";
  background-image: url(../docs/my-profile.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  top: -5px;
  left: -1.75rem;
}

/* using flex to make the layout of the lists inside the nav*/
.pages nav {
  display: flex;
  flex-direction: row;
  font-weight: normal;
  border-bottom: 1px solid #FFFFFF;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;

}
  .pages > nav li:not(:first-of-type) {
    margin-inline-start: 2rem;
  }

  .pages nav li:first-of-type {
    font-weight: bold;
    opacity: 1;
  }

  .text p:first-of-type {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
  }

  .text p:last-of-type {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }


/* here we make the table's style ===(headache) */
  table {
    color: #FFFFFF;
    opacity: 0.5;
    border-collapse: collapse;
    counter-reset: tr;
  }

  table tr {
    border-bottom: 2px rgba(255, 255, 255, 0.5) solid;
    border-bottom-width: 1px;
  }

  th[scope="col"]{
    opacity: 0.5;
  }

  .table tr th{
    position: relative;
    text-transform: uppercase;
    color: #FFFFFF;
    vertical-align: middle;

 }

  table th[headers="header_object"] {
    width: 250px;
  }

  /* setting the different coloured icons in the object column*/
  table  #row_consmos::before,
  table #row_consmos2::before,
  table #row_sl-8::before,
  table #row_delta::before,
  table #row_cosmos3::before   {
    display: block;
    content: "";
    background-image: url(../docs/blue-object-icon.svg);
   
    background-repeat: no-repeat;
    width: 56.56px;
    height: 65px;
  }

  table th[headers="header_object"] span::before {
  counter-increment: tr;
  content: counter(tr) " ";
 }
  table th[headers="header_object"]::before {
    display: block;
    content: " ";
    background-image: url(../docs/red-object-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 56.56px;
    height: 65px;
  }

/* aligning the text with the bacground image*/

  table th[headers="header_object"] span {
    position: absolute;
    line-height: 1.5;
    margin-block-start: -2.75rem;
    margin-inline-start: -8.5rem;
    word-spacing: 8px;
  }

