/* This Css file is all about the class .contaner-2 html document*/

.container-2 {
  margin-block-start: -1.5rem;
}

.container-2 .text p {
  font-size: 16px;
  line-height: 22px;

}

.container-2 h1 {
  border-bottom: 1px solid #FFFFFF;
  opacity: 0.5;
}

 .container-2 .text a {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #EC7E5F;
 }

 .container-2 nav,
 p {
   opacity: 0.5;
 }
  /* Moving the 2 links inside of the div about-catalog outside the h1*/

  .about-catalog ul {
   position: relative;
  display: flex;
  flex-direction: row;
  margin-inline-start: -2.5rem;
 }

 .about-catalog ul li > a{
  position: absolute;
  border-width: 0.2px;
  border-style: dotted;
  text-decoration: none;
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 12px;
  line-height: 125%;
  margin-inline-end: 1rem;
  padding: 16pxrem;
 }

/* Positioning the anchors on top of the h2*/

 .about-catalog ul li:first-of-type > a{
   top: -6.5rem;
 }

 .about-catalog ul li:last-of-type > a{
  top: -6.5rem;
  left: 12rem;
}
  /* Use flex to get the layout of the stats instead of having a table element in html*/

  .stats nav ul {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-end;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
 }

 .stats nav > ul li:first-of-type {
   width: 135px;
 }

 .stats nav > ul li:first-of-type::before {
   content: "";
   display: block;
   background-image:  url(../docs/stats-satelite.svg);
   border: 0.7px solid #081122;
   width: 37px;
   height: 38px;
   position: absolute;
   top: 10px;
}

.stats nav > ul li:nth-of-type(2)::before {
  content: "";
  display: block;
  background-image: url(../docs/stats-observation.svg);
  width: 41px;
  height: 29.82px;
  position: absolute;
  top: 15px;
}

 .stats nav > ul li:nth-of-type(2) {
    width: 138px;
  }

  .stats nav li span {
    margin-inline-start: 3rem;
  }
/* for the number iside of the lists*/

  .stats nav li b {
    width: 98px;
    height: 30px;
    font-size: 24px;
    line-height: 28px;
    margin-inline-start: 3rem;
  }

  /* Use flex to get the layout of the recent observation instead of having a table element in html*/
 .table-observations {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    }

  .table-observations div:first-of-type {
    text-transform: uppercase;
  }

  .table-observations div:first-of-type li {
    font-weight: normal;
    font-size: 12px;
    line-height: 115%;

  }

  .table-observations div:first-of-type li::before {
    content: url(../docs/recent-observation.svg);

  }

/* Getting rid of the margin-left and the padding-left with the ul */
    .table-observations ul {
        margin-inline-start: 0;
        margin-block-start: 0;
        padding-inline-start: 0;

  }


/* setting the width of each li inside the table-observations class*/
  .table-observations li {
    border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
  }
    .table-observations div:first-of-type li {
    width: 143px;
    line-height: 1;
  }

  .table-observations div:nth-of-type(2) li {
    width: 143px;
  }

  .table-observations div:nth-of-type(3) li {
    width: 19px;
  }

 /* Styling the last div which is the .goal class*/

 .goal div > p:first-of-type > b{
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #EC7E5F;
 }



