body {
  background-color: black;
  color: white;
  opacity: 0.9;
  display: grid;
  grid-template-columns: 70%, 1fr;
  grid-template-areas: "header three"
                        "catalog three"
                       "one three"
                       "two three";
}

header {
  grid-area: header;
}

.catolog {
  grid-area: catolog;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

/* @media (min-width:320px)  {
  body {
    display: block;
  }
}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone }
@media (min-width:600px)  { portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) } */
