.three {
  padding-inline-start: 5rem;
  font-size: 12px;
}

/* This is h2 of this section */
.three > h2 {
  text-transform: uppercase;
  line-height: 15px;
  letter-spacing: 0.05em;
  position: absolute;
  left: 60%;
  display: flex;
  padding-inline-start: 22rem;
}

.three > h2 > div:nth-of-type(2) {
  padding-inline-start: 12px;
  padding-block-start: 6px;
}

/* This is for all the lists in this section */
.three ul {
  list-style: none;
  display: flex;
  margin-inline-start: 0;
  font-size: 1.2rem;
  /* text-transform: uppercase; */
  opacity: 0.7;
}

/* First list */
.three > ul:nth-of-type(1) {
  padding-block-start: 5rem;
  padding-block-end: 1rem;
  padding-inline-start: 0;
}

.three > ul:nth-of-type(1) > li {
  border: 1px solid whitesmoke;
  border-radius: 4px;
  padding: .5rem;
  width: 143px;
  height: 20px;
  text-align: center;
  font-size: 12px;
}

.three > ul:nth-of-type(1) > li:nth-of-type(2) {
  margin-inline-start: 1rem;
}

/* H3 in this section */
.three > h3 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* This is the line under h3s */
.three .border {
  width: 298px;
  height: 3px;
  background-color: #ffffff;
  margin-block-end: 1rem;
  opacity: 0.5;
}

/* Paragraph */
.three > p {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.5;
}

.three > p > a {
  color: #ff0000;
  opacity: 1;
}

/* Table in this section */
.three > table {
  text-transform: uppercase;
  line-height: 14px;
  padding: 1rem;
}

.three > table > tr {
  border-bottom: 2px solid gray;
}

.three > table > td {
  opacity: 0.8;
}

.three tr > #svg-4 {
  opacity: 1;
}

/* .three tr > td:nth-of-type(1) {
  width: 30px;
  height: 40px;
  padding: 1rem;
} */

.three tr > td:nth-of-type(2) {
  padding-inline-start: 0.5rem;
}

.three tr > td:nth-of-type(3) {
  padding-inline-start: 5rem;
}

.three tr > td:nth-of-type(4) {
  padding-inline-start: 2rem;
}
*/
/* Last list in this section */
.three ul:nth-of-type(2) {
  display: inline;
}

.three > nav > ul > li:nth-of-type(2) {
  margin-inline-start: 3rem;
}

.three ul:nth-of-type(2) > li {
  padding: .5rem;
  text-transform: uppercase;
}

.three ul:nth-of-type(2) > li:nth-of-type(1) {
  padding-inline-start: 1rem;
  /* opacity: 0.5; */
}

.three ul:nth-of-type(2) > li:nth-of-type(2):after {
  content: '';
  width: 20px;
}

.three ul:nth-of-type(2) > li:nth-of-type(3) {
  padding-inline-start: 10rem;
  /* opacity: 0.5; */
}
