
.one ul {
  display: flex;
  list-style: none;
  margin-inline-start: 1rem;
  font-family: Proxima Nova;
}

.one ul > li {
  font-size: 20px;
  text-transform: uppercase;
  padding-inline-end: 1rem;

  opacity: 0.5;
  flex-direction: row;
}

 .one ul > li:nth-of-type(1) {
  opacity: 1;
}

.one div {
width: 700px;
height: 1px;
margin-inline-start: 3.5rem;
background-color: #FFFFFF;
}

.one p {
  width: 710px;
  height: 61px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  opacity: 0.8;
  margin-inline-start: 3.5rem;
  margin-block-start: 10px;
  margin-block-end: 10px;
}

.one small {
  width: 755px;
  height: 38px;
  left: 5%;
  top: 314px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.5;
  margin-inline-start: 3.5rem;
}
