
button {
  display: flex;
  flex-direction: column;
  background: #0BCE83;
  border: #0BCE83 thin;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-block-end: 1rem;
}

button a {
  text-decoration: none;
  letter-spacing: -0.01px;
  text-transform: uppercase;
  color: #FFFFFF;
  align-self: center;
  margin: 16px 0px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;

}
.button_order {
  padding-inline-start: 57px;
  padding-inline-end: calc(374 / 2 * 1px);
  padding-block-start: 17px;
  padding-block-end: 17px;
}

.card_using {
  padding-inline-start: 128px;
  padding-inline-end: 129px;
  padding-block-start: 19px;
  padding-block-end: 19px;
}

.card_adding {
  padding-inline-start: 103.5px;
  padding-inline-end: 16px;
  padding-block-start: 17px;
  padding-block-end:  17px;
  background-image: url(../docs/image/shopping-cart.svg);
  background-position: 40% 50%;
}

.button_icon {
  width: 78px;
  height: 40px;
  background-image: url(../docs/image/shopping-cart.svg);
  background-position: 29px 10px;
}

.love {
  background: #FFFFFF;
  background-image: url(../docs/image/heart.svg);
  border: 1px solid #D9D0E3;
  background-position: 30.20px 12px;
  background-repeat: no-repeat;
}
