main #pages h1 {
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #FC7756;
  margin-top: -2rem;
}

main #pages nav ul{
  display: flex;
  flex-direction: row;
  font-weight: normal;
  border-bottom: 1px solid #FFFFFF;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
}
#pages nav li:not(:first-of-type) {
  margin-inline-start: 2rem;
}

#pages nav li:first-of-type {
  font-weight: bold;
  opacity: 1;
  margin-inline-start: -2.5rem;
}

#text p:first-of-type {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

#text p:last-of-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
