:root {
  --width-doc: 1338px;
  --height-doc: 1299px;
}
body {
width: var(--width-doc);
background: #081122;
}


main {
  display: grid;
  grid-template-columns:753px 293px;
  margin-inline-start: 100px;
  margin-inline-end: 106px;
  gap: 100px;
}

li {
  list-style: none;
}

p,
li,
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  color: #FFFFFF;
}

h1 {
text-transform: uppercase;
}

a{
text-decoration: none;
color: #FFFFFF;
}
