/* <section id="section_help">
      <header>
        <h3>
          What is this?
        </h3>
      </header> */

aside > section {
  margin-block-end: 4rem;
}

aside > section > header {
  border-block-end: 1px solid rgba(255, 255, 255, 0.5);
  padding-block-end: 1rem;
}

aside > section > header > h3 {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

/*


article #profile{
  color: white;
  top: 50px;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  right: 70px;
  font-weight: bold;
  font-size: small;
  }

img.profile{
  position: absolute;
  right: 165px;
  top: 45px;
}
  article .profile {
  }

  button {
  width: 138px;
  height: 30px;
  border: 1px solid #4d4d4d;
  border-radius: 6px;
  background-color: black;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  margin-block-start: 9rem;
  margin-inline-start: 0rem;
  margin-block-end: 5rem;
  margin-inline-end: 1rem;
}

  div > h3 {
  margin-top: -2rem;
  border-block-end: 1px solid #4d4d4d;
  text-transform: uppercase;
  line-height: 3rem;
  }


  article > header > div > h3 + p a {
    color: #EC7E5F;
  }

  div p {
  color: #848890;
  display: inline-block;
  }
  div > p.sattelites {
  border: 0.7px solid #081122;
  margin-inline-end: 2rem;
  margin-block-end: 3rem;
} */
