#td_1 {
  background-image: url(../use-svg-trusat/images/icon_button\ _blue.svg);
  text-align: center;
  font-size: small;
}
#td_2 {
  background-image: url(../use-svg-trusat/images/icon_button\ _blue.svg);
  text-align: center;
  font-size: small;
}
#td_3 {
  background-image: url(../use-svg-trusat/images/icon_button\ _blue.svg);
  text-align: center;
  font-size: small;
}
#td_4 {
  background-image: url(../use-svg-trusat/images/icon_button.svg);
  text-align: center;
  font-size: small;
}
#td_5 {
  background-image: url(../use-svg-trusat/images/icon_button.svg);
  text-align: center;
  font-size: small;
}
#td_6 {
  background-image: url(../use-svg-trusat/images/icon_button.svg);
  text-align: center;
  font-size: small;
}
#td_7 {
  background-image: url(../use-svg-trusat/images/icon_button.svg);
  text-align: center;
  font-size: small;
}
#td_8 {
  background-image: url(../use-svg-trusat/images/icon_button\ _blue.svg);
  text-align: center;
  font-size: small;
}
#td_9 {
  background-image: url(../use-svg-trusat/images/icon_button\ _blue.svg);
  text-align: center;
  font-size: small;
}
#td_10 {
  background-image: url(../use-svg-trusat/images/icon_button.svg);
  text-align: center;
  font-size: small;
}
