#background_1 {
  background-image: url(../use-svg-trusat/images/icon_button\ _blue.svg);
}
#background_2 {
  background-image: url(../use-svg-trusat/images/icon_button\ _blue.svg);
}
#background_3 {
  background-image: url(../use-svg-trusat/images/icon_button\ _blue.svg);
}
#background_4 {
  background-image: url(../use-svg-trusat/images/icon_button.svg);
}
#background_5 {
  background-image: url(../use-svg-trusat/images/icon_button.svg);
}
#background_6 {
  background-image: url(../use-svg-trusat/images/icon_button.svg);
}
#background_7 {
  background-image: url(../use-svg-trusat/images/icon_button.svg);
}
#background_8 {
  background-image: url(../use-svg-trusat/images/icon_button\ _blue.svg);
}
#background_9 {
  background-image: url(../use-svg-trusat/images/icon_button\ _blue.svg);
}
#background_10 {
  background-image: url(../use-svg-trusat/images/icon_button.svg);
}
