@charset "UTF-8";
table {
  width: 808px;
  height: 898px;
  display: contents;
  margin-inline-start: 16px;
  margin-left: 12px;
}

tbody {
  position: absolute;
  top: 400px;
  line-height: 80px;
  margin-inline-start: 2rem;
}

th {
text-transform: uppercase;
text-align: left;
border-bottom: solid 1px;
font-size: 13px;
color: #848890;
word-spacing: 2rem;
}
tr > th.no_space {
  word-spacing: 0;
}

td {
  border-bottom: 1px solid #848890;
  text-transform: uppercase;
}

.first_table {
width: 293px;
text-align: center;
}
.first_table {
  counter-reset: td;
}
.first_table::before {
  content: counter(td) "\0000a0\0000a0\0000a0\0000a0";
}

.second_table_row {
  width: 242px;
  text-size-adjust: left;
  font-size: 1rem;
  text-transform: capitalize;
}
