@charset "UTF-8";

table {
  width: 806px;
  height: 898px;
  margin-inline-start: 35px;
}
tbody {
  position: absolute;
  top: 400px;
  line-height: 80px;
}

th {
text-transform: uppercase;
text-align: left;
border-bottom: solid 1px;
font-size: 13px;
color: #848890;
word-spacing: 2rem;
}

td {
  border-bottom: 1px solid #848890;
  text-transform: uppercase;
}

.first_table {
width: 293px;
text-align: center;
}
.first_table {
  counter-reset: td;
  background-image: url(../use-svg-trusat/images/icon_button.svg);
  background-repeat: no-repeat;
}
.first_table::before {
  content: counter(td) "\0000a0\0000a0\0000a0\0000a0";
}
#background {
  background-image: url(../use-svg-trusat/images/icon_button\ _blue.svg);
}

.second_table_row {
  width: 242px;
  text-size-adjust: left;
  font-size: 1rem;
  text-transform: capitalize;
}
