.happening {
  position: relative;
  border-bottom: 2px solid darkgray;
  margin-inline-start: 1rem;
  margin-inline-end: -1rem;
}
.happening h2 {
  border: none;
  margin-inline-start: 0;
}
.happening h3 {
  position: relative;
  text-transform: uppercase;
  font-size: initial;
  top: 1rem;
  bottom: 1rem;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}
.happening i {
  bottom: 1rem;
  position: relative;
}
.happening--description {
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.happening h4 {
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}
.fact {
  color: #fff;
  line-height: 1.7;
  object-fit: cover;
  position: relative;
}
/* Tablet */
@media (min-width: 768px) {
  .happening h2 {
  margin-inline-start: 3rem;
  margin-inline-end: 3rem;
  }
  .happening h3 {
    top: 2rem;
    margin-inline-start: 2rem;
    margin-inline-end: 2rem;
  }
  .happening h4 {
    font-size: 25px;
  }
  .happening-art {
    display: block;
  }

  .happening {
    border-bottom: unset;
  }
  .happening--description {
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    padding-block-start: 11rem;
    font-family: sans-serif;
  }
  .happening--description > .section__description {
    font-size: 16px;
    font-family: sans-serif;
  }
}
