.happening {
  position: relative;
}
.happening h2 {
  border: none;

}
.happening h3 {
  color: white;
  text-transform: uppercase;
  top: 3rem;
  left: 2rem;
}
.happening--description {
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
}

.fact {
  position: relative;
}
