.happening {
  position: relative;
  border-bottom: 2px solid darkgray;
  margin-inline-start: 1rem;
  margin-inline-end: -1rem;
}
.happening h2 {
  border: none;
  margin-inline-start: 0;
}
.happening h3 {
  position: relative;
  text-transform: uppercase;
  font-size: initial;
  top: 1rem;
  bottom: 1rem;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}
.happening i {
  bottom: 1rem;
  position: relative;
}
.happening--description {
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.happening h4 {
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}
.fact {
  color: #fff;
  line-height: 1.7;
  object-fit: cover;
  position: relative;
}
