.img-world-news {
width: 100%;
height: 100%;
position: absolute;
z-index: -1;
}

.trending img {
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.city {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border-radius: 10px;
}
.travel {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border-radius: 10px;

}

.discover-world img {
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.photo-profile {
  width: 16px;
  border-radius: 100%;
}

span {
  display: none;
}
