h2 {
  border-block-end: 2px solid;
  position: relative;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

h3 {
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  font-size: 26px;
}
.world-news {
  color: #fff;
  line-height: 1.7;
}
.world-news h2 {
  margin-top: -23.7rem;
}
.world-news a {
  color: #fff;
}
.section__link--tosubhead {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  display: block;
  margin-bottom: 2rem;
}
.section__description {
  position: relative;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

.more-news {
  background-color: white;
  margin-top: 1.3rem;
  color: darkgray;
  line-height: 1.5;
}
.more-news h3 {
  color: #fa6980;
  text-transform: uppercase;
  font-size: initial;
}
.more-news h4, p {
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  font-family: initial;
}
.more-news h4 {
  color: black;
  font-family: sans-serif;
}
