footer{
  background-color: rgb(212, 209, 209);
  max-width: 375px;
  margin-block-start: -16px;

}
footer .footer_nav_list{
  display: flex;


}

.footer_links{
  list-style: none;
  margin-block-start: 16px;


}
.footer_anchor_list{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
 margin-block-start: 1rem;


}
.footer_links_second{
  list-style: none;
  margin-block-start: 48px;
}
.footer_list{
  margin-block-start: 16px;
}
.footer_links{
  margin-block-start: 48px;
}

.icon_link_news{
  list-style: none;
  display: flex;
  margin-inline-start: 6px;

}
.icon_list_of_news{
 margin-inline-start: 6px;
}
.anchor_of_footer{
  text-decoration: none;
  color: white;
}
