.happening_now__heading {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 1.5rem;
}
.happening_now__city {
  position: relative;
  color: #FFF;
}
.happening_now__city--background {
  width: 327px;
  height: 300px;
  border-radius: 16px;
  margin-inline-start: 1.5rem;
}
.happening_now__city--title {
  position: absolute;
  top: 16px;
  left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.happening_now__city--subtilte {
  position: absolute;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  top: 80px;
  left: 50px;
}
.happening_now__city--desciption {
  position: absolute;
  top: 150px;
  left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.happening_now__city--time {
  position: absolute;
  top: 240px;
  left: 50px;
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #a6adb4;
}
.happening_now__travel {
  position: relative;
  color: white;
}
.happening_now__travel--background {
  width: 327px;
  height: 300px;
  border-radius: 16px;
  margin-inline-start: 1.5rem;
}
.happening_now__travel--title {
  position: absolute;
  top: 16px;
  left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.happening_now__travel--subtitle {
  position: absolute;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  top: 80px;
  left: 50px;
}
.happening_now__travel--description {
  position: absolute;
  top: 150px;
  left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.happening_now__travel--time {
  position: absolute;
  top: 240px;
  left: 50px;
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #a6adb4;
}
