.heading__container {
  height: 88px;
}
.heading__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.heading__container li {
  list-style: none;
}

.heading__container li a {
  text-decoration: none;
}

.heading__menu a {
  font-size: 32px;
  color: #000;
}

.heading__logo a {
  color: #a6adb4;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.heading__profile {
  display: inline-block;
  max-width: 32px;
  height: 32px;
  border-radius: 50%;
}
