li {
  list-style: none;
  vertical-align: bottom;
  display: inline-block;
  margin-left: 2rem;
}
a {
  text-decoration: none;
  color: #FFFF;
  text-transform: uppercase;
}
.button_favorite {
  background-image: url(../images/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #D9D0E3;
  border-radius: 8px;
  padding-inline-start: 35px;
  padding-inline-end: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.button_adding_cart {
  background-image: url(../images/shopping-cart.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0ACF83;
  box-sizing: border-box;
  border-radius: 8px;
  padding-inline-start: 35px;
  padding-inline-end: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.button_best_favorite {
  background-image: url(../images/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #D9D0E3;
  box-sizing: border-box;
  border-radius: 8px;
  padding-inline-start: 35px;
  padding-inline-end: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.button_add_to_cart {
  background-color: #0ACF83;
  box-sizing: border-box;
  border-radius: 8px;
  padding-inline-start: 110px;
  padding-inline-end: 50px;
  padding-top: 19px;
  padding-bottom: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
  position: relative;
}
.button_add_to_cart::before {
  background-image: url(../images/shopping-cart.svg);
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 15px;
  left: 70px;
}
.button_use_this_card {
  background-color: #0ACF83;
  box-sizing: border-box;
  border-radius: 8px;
  padding-inline-start: 130px;
  padding-inline-end: 130px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}
