body {
  background-color: black;
  color: white;
  opacity: 0.9;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-start: 3rem;
}

main {
  display: flex;
  padding-inline-start: 2rem;
}
