#explanation {
color: hsla(0, 100%, 100%, 0.4);
font-style: normal;
font-weight: normal;
line-height: 22px;
}

#explanation,
section:nth-of-type(1) a {
  font-size: 16px;
}

section:nth-of-type(1) a {
  color: #EC7E5F;
  line-height: 20px;
}

section:nth-of-type(2) tr:nth-of-type(2) td {
  color: #FFFFFF;
  opacity: 0.5;
}
section:nth-of-type(3) td {
  border-block-end: 1px solid #113051;
  line-height: 125%;
  font-size: 12px;
}

section:nth-of-type(3) td:first-of-type {
  text-transform: uppercase;
  max-width: 143px;
  line-height: 125%;
  height: 30px;
  transform: translateY(4%);
}

section:nth-of-type(3) td:nth-of-type(2) {
max-width: 143px;
text-align: right;
margin-inline-end: 4%;
}

section:last-of-type td {
  border-block-end: 1px solid #113051;
}

.c-goal-1:nth-of-type(1) {
  color: #EC7E5F;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
}

.c-goal-1:nth-of-type(2) {
  color: #848890;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 14px;
}

.c-goal-2::first-line {
  color: #848890;
  font-size: 12px;
  text-transform: uppercase;
}

.box:nth-of-type(1) {
  height: 84px;
  background-color: #EC7E5F;
  width: 210px;
}

.box:nth-of-type(2) {
  border-right: 2px solid #FFFFFF;
  max-width: 90px;
  border-block-start: 1px solid #848890;
  border-block-start: 1px solid #848890;
}

.satname {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.satname img {
  margin-right: 9px;
}

button {
  width: 143px;
  height: 30px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid hsla(0, 100%, 100%, 0.4);
  color: #FFFFFF;
  font-size: 12px;
}
form ul {
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 15px;
}

aside {
  display: flex;
  flex-direction: column;
  transform: translate(100%, 4.5%);
  width: 299px;
}

aside h2 {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 40px;
}

.c-goal:nth-of-type(1) b {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #EC7E5F;
  margin-right: 10px;
}

.c-goal {
  text-transform: uppercase;
  font-size: 12px;
  color: #848890;
}

.c-goal:nth-of-type(2){
  text-align: end;
  margin-right: 1rem;
}

.c-goal:nth-of-type(2) b {
  color: white;
  font-weight: normal;
}

aside h2,
table,
#explanation,
form,
.stat {
  max-width: 300px;
}

.stat,
.c-goal {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.stat {
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

.stat p {
  color: #848890;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

.stat p {
  text-align: start;
}


.stat b {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  color: #FFFFFF;
}

.stat > div {
  display: flex;
}

.stat img {
  position: relative;
  margin-right: 10px;
}
img[alt="satellite"] {
  top: 22%;
  width: 37px;
  height: 38px;
}

img[alt="eye"] {
  top: 30%;
  max-width: 43px;
  height: 32px;
}

#white-border {
  border-top: #FFFFFF 1px solid;
  transform: rotate(90deg) translate(56px, -245px);
  max-width: 111px;
}
