section:nth-of-type(1) > button:nth-of-type(1) {
  background-color: inherit;
  color: #FFFFFF;
  border: 1px solid rgb(86, 86, 173);
  border-radius: 4px;
  margin-left: 60rem;
  width: 9rem;
  height: 2rem;
  display: inline;
  top: 7rem;
  position: absolute;
}
section:nth-of-type(1) > button:nth-of-type(2) {
  background-color: inherit;
  color: #FFFFFF;
  border: 1px solid rgb(86, 86, 173);
  border-radius: 4px;
  margin-left: 70rem;
  width: 9rem;
  height: 2rem;
  display: inline;
  position: absolute;
  top: 7rem;
}
