body {
  max-width: 1338px;
  min-width: 320px;
  font-family: montserrat;
  background-color: #081122;
  /*display: grid;*
  grid-template-columns: repeat(2, 45%);
  grid-column-gap: 65px;*/
  margin: auto;
}

main {
  display: flex;
  flex-direction: row;
}

article {
  transform: translateX(15%);
}

ul {
  list-style: none;
}

h2 {
  color: #FFFFFF;
  border-block-end: solid 1px hsla(0, 100%, 100%, 0.4);
  font-style: normal;
  font-weight: bold;
}

nav + h2 {
  font-weight: normal;
  border-block-end: 32px;
}
.intro {
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 16px;
  line-height: 32px;
}

table {
  margin-bottom: 0;
  border-collapse: collapse;
}

th {
  color: #FFFFFF;
  opacity: 0.5;
  font-weight: normal;
  text-transform: uppercase;
  border-block-end: solid 1px hsla(0, 100%, 100%, 0.4);
  text-align: left;
  margin-block-start: 16px;
  margin-block-start: 16px;
}


.dd {
  border-bottom: #FFFFFF 2px solid;
  max-width: 753px;
}

article td {
  border-block-end: 1px solid #113051;
  max-height: 105px;
}

article tr:last-of-type td {
border: 0;
}

article td:nth-of-type(3){
  max-width: 500px;
}


article table {
  margin-block-start: 32px;
}

tbody {
  counter-reset: first-row;
  }
article tr > td:nth-of-type(1):before {
counter-increment: first-row;
content: counter(first-row) " ";
}

tr {
  color: #FFFFFF;
}

article, article table {
  max-width: 753px;
}

th {
  line-height: 3;
}

tr > th:nth-of-type(1) {
  max-width: 892px;
}

tr > th:nth-of-type(4),
tr > th:nth-of-type(5){
  max-width: 580px;
}

.discovered {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translateY(1%);
}
table svg {
  margin-right: 1rem;
  margin-left: 1rem;
}
