#explanation {
color: hsla(0, 100%, 100%, 0.4);
font-style: normal;
font-weight: normal;
line-height: 22px;
}

#explanation,
section:nth-of-type(1) a {
  font-size: 16px;
}

section:nth-of-type(1) a {
  color: #EC7E5F;
  line-height: 20px;
}

section:nth-of-type(2) tr:nth-of-type(2) td {
  color: #FFFFFF;
  opacity: 0.5;
}
section:nth-of-type(3) td {
  border-block-end: 1px solid #113051;
  line-height: 125%;
  font-size: 12px;
}

section:nth-of-type(3) td:first-of-type {
  text-transform: uppercase;
  width: 143px;
  line-height: 125%;
  height: 30px;
}

section:nth-of-type(3) td:nth-of-type(2) {
width: 143px;
text-align: right;
margin-inline-end: 10px;
}

section:last-of-type td {
  border-block-end: 1px solid #113051;
}

.c-goal-1:nth-of-type(1) {
  color: #EC7E5F;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
}

.c-goal-1:nth-of-type(2) {
  color: #848890;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 14px;
}

.c-goal-2::first-line {
  color: #848890;
  font-size: 12px;
  text-transform: uppercase;
}

.box:nth-of-type(1) {
  height: 84px;
  background-color: #EC7E5F;
  width: 210px;
}

.box:nth-of-type(2) {
  border-right: 2px solid #FFFFFF;
  width: 90px;
  border-block-start: 1px solid #848890;
  border-block-start: 1px solid #848890;
}

.satname {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.satname img {
  margin-right: 9px;
}

form {
  position: relative;
  top: 70px;
  line-height: 40px;
}

button {
  width: 143px;
  height: 30px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid hsla(0, 100%, 100%, 0.4);
  color: #FFFFFF;
  font-size: 12px;
}
form ul {
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 15px;
}

footer {
  position: relative;
  right: -190px;
  top: -50px;
  display: grid;
  width: 299px;
}

footer h2 {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 40px;
}

.c-goal:nth-of-type(1) b {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #EC7E5F;
}

.c-goal {
  text-transform: uppercase;
  font-size: 12px;
  color: #848890;
}

.c-goal:nth-of-type(2){
  text-align: end;
}

.c-goal:nth-of-type(2) b {
  color: white;
font-weight: normal;
}

h2,
table,
p {
  width: 300px;
}
