h1 {
  font-size: 40px;
  color: #FC7756;
  text-transform: uppercase;
  margin-block-end: 39px;
  margin-block-start: 57.5px;
}

img[alt="t"],
img[alt="r"],
img[alt="u"],
img[alt="s"],
img[alt="a"],
img[alt="t"] {
  transform: translate(100%, 100%);
}
