h1 {
  font-size: 40px;
  color: #FC7756;
  text-transform: uppercase;
  margin-block-end: 39px;
  margin-block-start: 57.5px;
}

body > header > img {
  margin-top: 19.20px;
  position: relative;
  left: -25px;
}
