#first-table > tbody > .icon-before th::before {
  content: attr(data-id);
  background-image: url("../images/icon.svg");
  background-repeat: no-repeat;
  width: 41px;
  height: 45px;
  display: inline-block;
  color: white;
  font-size: 10px;
}
#first-table > tbody > .icon-before th[data-id] {
  top: 2rem;
}

.table-satname > tbody > tr > th::before {
  content: "";
  background-image: url("../images/icon.svg");
  background-repeat: no-repeat;
  width: 41px;
  height: 45px;
  display: inline-block;
}
