table > tbody > tr:nth-of-type(1) > th::before {
  content:"";
  background-image: url("..");
  display: flex;
  height: 1.625rem;
  width: 1.625rem;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 0.75rem;
  margin-top: -0.75rem;
  background-repeat: no-repeat;
}
