nav a {
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav li > a {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

 .main-nav ul {
  padding: 0;
  display: flex;
  position: relative;
  right: 355px;
  justify-content: space-between;
}

#profile{
  font-size: 12px;
  position: relative;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  right: -275px;
}

#profile img {
  margin-right: 9px;
  border-radius: 50%;
}

.nav {
  border-block-end: solid 1px hsla(0, 100%, 100%, 0.4);
  margin-block-end: 19px;
}

.nav > ul {
  display: flex;
  align-content: space-between;
  padding: 0;
}

.nav li {
  padding-right: 44px;
}

.nav li > a {
  color: #FFFFFF;
  opacity: 0.5;
  line-height: 24px;
  font-weight: normal;
  font-size: 20px;
}

.nav li:nth-of-type(1) > a {
  color: #FFFFFF;
  opacity: 1;
  font-weight: bold;
}
