#second-section > .what {
  top: 8rem;
}
#second-section > .stats {
  top: 24.7rem;
}

#second-section > .goal {
  top: 60rem;
}

.scndsection {
  display: flex;
  width: 20rem;
  padding: 0;
  bottom: 0;
  position: absolute;
  left: 4.1rem;
  height: 15rem;
}


.stats p:nth-of-type(2) {
  left: 14rem;
}
.stats .sat-stats {
  left: 3rem;
  position: absolute;
  top: 33px;
  font-family: Roboto;
  font-size: 12px;
  text-transform: uppercase;
  color: #848890;

}

.stats .observations {
  font-family: Roboto;
  font-size: 12px;
  text-transform: uppercase;
  color: #848890;
}

h3 {
  display: flex;
  position: absolute;
  width: 20rem;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 1px rgb(199, 196, 196) solid;
}

#second-section {
  padding-block-start: 21.4rem;
  position: relative;
  left: 10rem;
  height: 66rem;
  width: 26rem;
}
#second-section p {
  position: absolute;
  top: 3rem;
}

#second-section > .satellites {
  position: absolute;
  width: 210px;
  height: 84px;
  left: 66px;
  top: 66.2rem;
  background: #EC7E5F;
}
