#first_section > header h2 {
  text-transform: uppercase;
  color: #FC7756;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  height: 59px;
}
#first_section > header {
  display: grid;
  padding-left: 4rem;
}

#first_section > nav ul {
  display: flex;
  font-size: 12px;
  padding-left: 0;
  border-bottom: 1px rgb(199, 196, 196) solid;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
}
#first_section > nav {
  display: grid;

}
#first_section > nav p:nth-of-type(2) {
  opacity: 0.5;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
#first_section > nav p:nth-of-type(1) {
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
}


#first_section > nav > ul li:nth-of-type(1) {
  margin-left: 0;
  color: #FFFFFF;
  opacity: 1;
}

#first_section > nav {
  padding-left: 4rem;
}

#first_section {
width: 55rem;
height: 74rem;
}

#first_section > nav > ul li {
  opacity: 0.5;
  color: #FFFFFF;
}
#first_section > nav > ul li {
  list-style: none;
  margin-left: 5rem;
  text-transform: uppercase;
}
#first_section > nav > ul > li a {
  text-transform: uppercase;
}


