
#first-section th, td {
  border-bottom: 1px solid rgb(57, 105, 160);
  padding: 5px 10px;
}
#first-section > #first-table .table-header th {
  border-bottom: 1px solid white;
  opacity: 0.5;
  text-transform: uppercase;
}

table {
  padding-left: 4rem;
  padding-top: 1rem;
  text-align: left;
}
#first-table {
  position: absolute;
  height: 860px;
  width: 879px;
  padding-left: 3.5rem;
}

/*Tables in the second section are meant to be here*/

#second-section th, td {
  border-bottom: 1px solid rgb(57, 105, 160);
  padding: 5px 10px;
}
#second-section thead > tr th {
  border-bottom: 1px solid white;
  text-transform: uppercase;
}

#second-section > table:nth-of-type(1) > tr > th {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

#second-section > table:nth-of-type(1) > tbody > tr > td {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
#second-section > table:nth-of-type(1) > tbody > tr > td > a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #EC7E5F;

}

#second-section > table:nth-of-type(2) > thead > tr > th {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
}
#second-section > table:nth-of-type(4) > tbody > tr > td b {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  color: #EC7E5F;
}
.recent_observations {
  display: flex;
  width: 12rem;
}
